<a href="https://colab.research.google.com/github/Nunticha24/data_viz_2022/blob/main/Pandas101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd #เป็น Package ที่ใช้เกี่ยวกับการจัดการข้อมูลที่เป็นตาราง เรียกใช้โดยการ import แล้วตามด้วยชื่อ Package

.csv = Comma Separated Values

data.go.th

In [2]:
from google.colab import drive #เชื่อมต่อกับ google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os #เป็น package ที่เอาไว้จัดการไฟล์และเอาไว้ดูที่มาของไฟล์หรือ path

In [4]:
path = '/content/drive/My Drive/dataviz_2021_data'

In [5]:
covid_file_path = os.path.join(path,'pm-20-jan-2021.csv') #ชื่อไฟล์ที่เราต้องการ
print(covid_file_path)

/content/drive/My Drive/dataviz_2021_data/pm-20-jan-2021.csv

In [6]:
a = path + '/pm-18-jan-2021.csv' 
print(a)

/content/drive/My Drive/dataviz_2021_data/pm-18-jan-2021.csv

## load data to memory

In [7]:
data_covid = pd.read_csv(covid_file_path) #ชื่อไฟล์ที่เราต้องการ
data_covid #print data

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12648  12649  ...                             State Quarantine
12649  12650  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650  12651  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651  12652  ...                                Cluster ระยอง
12652  12653  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 10 columns]

In [8]:
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

NaN = Not a Number

In [9]:
data_covid.head(20)

    No.  ...                                               risk
0     1  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
1     2  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
2     3  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
3     4  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
4     5  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
5     6  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
6     7  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
7     8  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
8     9  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
9    10  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
10   11  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11   12  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12   13  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
13   14  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
14   15  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
15   16  ...  อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...
16   17  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
17   18  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
18   19  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
19   20  ...                      คนไทยเดินทางกลับจากต่างประเทศ

[20 rows x 10 columns]

In [10]:
data_covid.tail()

         No.  ...                                         risk
12648  12649  ...                             State Quarantine
12649  12650  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650  12651  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651  12652  ...                                Cluster ระยอง
12652  12653  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[5 rows x 10 columns]

In [11]:
data_covid.shape

(12653, 10)

## ชี้ค่าในตาราง

#### basic

In [12]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12648           ชลบุรี
12649            ระยอง
12650            ระยอง
12651            ระยอง
12652              ตาก
Name: province_of_onset, Length: 12653, dtype: object

In [13]:
data_covid['risk'][12649]

'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้'

#### .iloc

In [15]:
data_covid.iloc[4,7]

'กรุงเทพมหานคร'

# เรียนถึงนี่ 12 Jan 2022

## Table slicing

#### ตัดมาเฉพาะ column ที่ต้องการ

In [16]:
smaller_table = data_covid[['announce_date','province_of_onset','risk']]
smaller_table

      announce_date  ...                                         risk
0         1/12/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12648     1/20/2021  ...                             State Quarantine
12649     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651     1/20/2021  ...                                Cluster ระยอง
12652     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 3 columns]

#### ตัดเฉพาะ rows ที่ต้องการ

##### แบบง่าย แต่ใช้การอะไรไม่ค่อยจะได้ (มองเป็น array แล้วตัดแบบ array)

In [17]:
data_covid.iloc[1:5,:]

   No. announce_date  ... district_of_onset                              risk
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

แบบ advanced แต่ใช้ประโยชน์ได้เยอะกว่า (ตัดแบบใช้ logic query)

In [19]:
data_covid['province_of_onset'] #เลือก row ที่เราต้องการ

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12648           ชลบุรี
12649            ระยอง
12650            ระยอง
12651            ระยอง
12652              ตาก
Name: province_of_onset, Length: 12653, dtype: object

In [21]:
data_covid['province_of_onset']=='ขอนแก่น' #เลือก row ที่เราต้องการและเลือกค่าเท่ากับขอนแก่น #list นี้จะมีจำนวนเท่ากับจำนวนแถวของdata

0        False
1        False
2        False
3        False
4        False
         ...
12648    False
12649    False
12650    False
12651    False
12652    False
Name: province_of_onset, Length: 12653, dtype: bool

In [20]:
data_covid[data_covid['province_of_onset']=='ขอนแก่น'] #เลือกเฉพาะ row ที่ค่า province เป็น true ได้เฉพาะข้อมูลของขอนแก่น

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[14 rows x 10 columns]

In [22]:
data_covid[data_covid['age']>=70] #ดูข้อมูลของคนที่อายุมากกว่าเท่ากับ70

         No.  ...                                               risk
1          2  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
7          8  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
24        25  ...  อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...
82        83  ...                                            สนามมวย
...      ...  ...                                                ...
11694  11695  ...      ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
11700  11701  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11730  11731  ...                                  Cluster สมุทรสาคร
11741  11742  ...                               อยู่ระหว่างการสอบสวน
12102  12103  ...                                  Cluster สมุทรสาคร

[245 rows x 10 columns]

การชี้ค่าในตารางด้วย data_covid[***x***] ค่า ***x*** สามารถมีค่าที่ใส่เข้าไปได้ 2 แบบ


1.   ชื่อ column
2.   ใส่ rows ที่ต้องการ (ใส่ list ที่มี***ขนาดเท่ากับจำนวนแถว*** แล้วบอกว่าเอา แถวไหนบ้างโดยใช้ logical expression (```True```/```False```))

In [23]:
eight_rows_covid = data_covid.iloc[:8,:] #เอาตั้งแต่ตัวแรกจนที่ตัวที่ 8 และเอาคอลัมน์ที่ 3 เป็นต้นไป
eight_rows_covid

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
7    8     1/26/2020  ...            หัวหิน  คนต่างชาติเดินทางมาจากต่างประเทศ

[8 rows x 10 columns]

In [24]:
eight_rows_covid[[True,False,True,True,False,True,False,False]]   #2.ใส่ list ที่มีค่า logic ของ rows แต่ละ row โดยที่ค่า true คือเอา และ ค่า false คือ ไม่เอา

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

In [25]:
eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร'  #สร้าง list ของ logical expression
#ดูว่าค่าไหนในคอลัมน์ province_of_onset เป็นกรุงเทพบ้างถ้าเป็นกรุงเทพจะแสดงค่า true

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: province_of_onset, dtype: bool

In [26]:
eight_rows_covid[eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร']  #เราเอา 2 บรรทัดบนมาบวกกัน
#เป็นการเลือกเฉพาะ row ที่มีค่าที่เราต้องการ

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[6 rows x 10 columns]

In [27]:
eight_rows_covid['district_of_onset']=='เมือง'

0    False
1    False
2     True
3    False
4    False
5    False
6    False
7    False
Name: district_of_onset, dtype: bool

$.isnull()$ใช้ตรวจสอบว่าเป็น NaN หรือไม่

In [28]:
eight_rows_covid['district_of_onset'].isnull()

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: district_of_onset, dtype: bool

Quiz(ให้ใช้เฉพาะที่อาจารย์สอนไปแล้วในวิชานี้)

1.   คำนวณ อายุเฉลี่ย ของผู้ชาย ของข้อมูลทั้งหมด
2.   คำนวณ อายุเฉลี่ย ของผู้ชาย ของผู้ป่วยในจังหวัดขอนแก่น
3. หาจำนวนผู้ป่วยที่เป็นคน "ที่ไม่ใช่คนไทย

In [29]:
this_data1 = data_covid[['sex','age','province_of_onset']] # กำหนดัวแปรชื่อ this_data1 เพื่อเก็บข้อมูล data_covid ที่เลือกมาเฉพาะข้อมูล sex,age,province_of_onset(เพศ,อายุ,จังหวัด)
this_data1 # แสดงตารางที่ชื่อ this_data1

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[12653 rows x 3 columns]

In [30]:
#1. คำนวณ อายุเฉลี่ย ของ**ผู้ชาย** ของข้อมูลทั้งหมด
male = this_data1[this_data1['sex']=='ชาย'] # เลือกเฉพาะเพศชาย เลือกจากตารางที่ชื่อว่า this_data1 โดยสนใจคอลัมน์ที่ชื่อว่า sex แล้วเอาไปใส่ในตารางที่ชื่อว่า male
male # เรียกแสดงตารางชื่อ male
#male['age']

       sex   age province_of_onset
3      ชาย  68.0     กรุงเทพมหานคร
8      ชาย  63.0     กรุงเทพมหานคร
10     ชาย  33.0     กรุงเทพมหานคร
11     ชาย  61.0     กรุงเทพมหานคร
12     ชาย   6.0     กรุงเทพมหานคร
...    ...   ...               ...
12640  ชาย  66.0   พระนครศรีอยุธยา
12641  ชาย  29.0          ปทุมธานี
12643  ชาย  39.0              สตูล
12646  ชาย  18.0       สมุทรปราการ
12647  ชาย  42.0     กรุงเทพมหานคร

[4819 rows x 3 columns]

In [31]:
male['age'] # เลือกดูเฉพาะอายุในตาราง male

3        68.0
8        63.0
10       33.0
11       61.0
12        6.0
         ...
12640    66.0
12641    29.0
12643    39.0
12646    18.0
12647    42.0
Name: age, Length: 4819, dtype: float64

In [32]:
# หาค่าเฉลี่ยของอายุได้โดย
sum = 0 # กำหนดให้ sum = 0 เนื่องจากถ้าค่าตัวที่ 1 มาบวกจะได้ค่าออกมาเท่ากับตัวที่ 1
N = 0 # กำหนดให้ N = 0 เป็นตัวหาร โดยจะทำการวนลูป # N เป็นตัวแปรที่จะนับว่ามีคนทั้งหมดกี่คน 
for a in male['age']: #เริ่มวนลูปโดยให้ a แทนค่าแต่ละค่าในคอมลัมน์ age ของตาราง male
    
    if a > 0:# ถ้า a มากกว่า 0 แสดงว่าเป็นอายุปกติที่ไม่ใช่ข้อมูลที่ผิดพลาด
        sum += a # sum = sum + a # ถ้า a > 0 ก็จะนำมารวมเข้าไปใน sum เลื่อยๆในทุกๆรอบที่ a มากกว่า 0
        N += 1 # คำนวนจำนวนโดยที่มันจะ +1 เข้ามาเลื่อยๆ
        # sum คือค่าผลรวมทั้งหมด  N คือค่าจำนวนคนทั้งหมด
print(f'อายุเฉลี่ย ของ ผู้ป่วยชาย {sum/N}') # sum/N = หาอายุเฉลี่ยของคนทั้งหมด

อายุเฉลี่ย ของ ผู้ป่วยชาย 39.46076940331987

In [33]:
male_KhonKaen = male[male['province_of_onset']=='ขอนแก่น']  #เลือกเฉพาะจังหวัดขอนแก่น เลือกจากตารางที่ชื่อว่า male โดยสนใจคอลัมน์ที่ชื่อว่า province_of_onset แล้วเอาไปใส่ในตัวแปรชื่อ male_KhonKaen
male_KhonKaen # เรียกดูข้อมูลในตารางที่ชื่อว่า male_KhonKaen

       sex   age province_of_onset
180    ชาย  33.0           ขอนแก่น
1466   ชาย  19.0           ขอนแก่น
2673   ชาย  68.0           ขอนแก่น
9333   ชาย  17.0           ขอนแก่น
9334   ชาย  20.0           ขอนแก่น
10610  ชาย  17.0           ขอนแก่น
11517  ชาย  12.0           ขอนแก่น

In [34]:
#2.คำนวณ อายุเฉลี่ย ของ*ผู้ชาย *ของผู้ป่วยในจังหวัดขอนแก่น
sum = 0 # กำหนดให้ sum = 0 เนื่องจากถ้าค่าตัวที่ 1 มาบวกจะได้ค่าออกมาเท่ากับตัวที่ 1
N = 0 # กำหนดให้ N = 0 เป็นตัวหาร โดยจะทำการวนลูป # N เป็นตัวแปรที่จะนับว่ามีคนทั้งหมดกี่คน 
for a in male_KhonKaen['age']: #เริ่มวนลูปโดยให้ a แทนค่าแต่ละค่าในคอมลัมน์ age ของตาราง male_KhonKaen
    
    if a > 0:# ถ้า a มากกว่า 0 แสดงว่าเป็นอายุปกติที่ไม่ใช่ข้อมูลที่ผิดพลาด
        sum += a # sum = sum + a  # sum = sum + a # ถ้า a > 0 ก็จะนำมารวมเข้าไปใน sum เลื่อยๆในทุกๆรอบที่ a มากกว่า 0
        N += 1 # คำนวนจำนวนโดยที่มันจะ +1 เข้ามาเลื่อยๆ
        # sum คือค่าผลรวมทั้งหมด  N คือค่าจำนวนคนทั้งหมด
print(f'อายุเฉลี่ย ของ ผู้ป่วยชาย ในจังหวัดขอนแก่น {sum/N}') # sum/N = หาอายุเฉลี่ยของคนทั้งหมด

อายุเฉลี่ย ของ ผู้ป่วยชาย ในจังหวัดขอนแก่น 26.571428571428573

In [35]:
#3. หาจำนวนผู้ป่วยที่เป็นคน "ที่ไม่ใช่คนไทย"
this_data2 = data_covid[['sex','age','nationality']] # กำหนดัวแปรชื่อ this_data2 เพื่อเก็บข้อมูล data_covid ที่เลือกมาเฉพาะข้อมูล sex,age,province_of_onset(เพศ,อายุ,จังหวัด)
this_data2 # แสดงตารางที่ชื่อ this_data2

        sex   age nationality
0      หญิง  61.0       China
1      หญิง  74.0       China
2      หญิง  73.0    Thailand
3       ชาย  68.0       China
4      หญิง  66.0       China
...     ...   ...         ...
12648  หญิง  44.0    Thailand
12649  หญิง  52.0    Thailand
12650  หญิง  23.0    Thailand
12651  หญิง  29.0    Thailand
12652  หญิง  22.0       Burma

[12653 rows x 3 columns]

In [36]:
foreigner = this_data2[this_data2['nationality']!='Thailand'] #เลือกเฉพาะที่ไม่ใช่ประเทศไทย เลือกจากตารางที่ชื่อว่า this_data2 โดยสนใจคอลัมน์ที่ชื่อว่า nationality(สัญชาติ) แล้วเอาไปใส่ในตัวแปรชื่อ foreigner(ชาวต่างชาติ)
foreigner #แสดงตารางที่ชื่อ foreigner

        sex   age nationality
0      หญิง  61.0       China
1      หญิง  74.0       China
3       ชาย  68.0       China
4      หญิง  66.0       China
5      หญิง  33.0       China
...     ...   ...         ...
12614  หญิง  43.0       Burma
12615  หญิง  35.0       Burma
12617  หญิง  12.0     Ireland
12618  หญิง  34.0    Pakistan
12652  หญิง  22.0       Burma

[5340 rows x 3 columns]

In [37]:
foreigner.count() # ใช้คำสั่ง .count() เพื่อดูจำนวน

sex            2889
age            2038
nationality    4129
dtype: int64

In [38]:
this_data = data_covid[['sex','age','province_of_onset']] #เลือกเฉพาะคอลัมนืทีต้องการ ได้แก่ 'sex','age','province_of_onset'

In [39]:
this_data #แสดงตาราง

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[12653 rows x 3 columns]

In [40]:
female = this_data[this_data['sex']=='หญิง'] # เลือกเฉพาะเพศหญิง เลือกจากตารางที่ชื่อว่าthis_dataโดยสนใจคอลัมน์ที่ชื่อว่า sex แล้วเอาไปใส่ในตารางที่ชื่อว่า female
female['age'] # เลือกดูเฉพาะอายุในตาราง female

0        61.0
1        74.0
2        73.0
4        66.0
5        33.0
         ...
12648    44.0
12649    52.0
12650    23.0
12651    29.0
12652    22.0
Name: age, Length: 5332, dtype: float64

In [41]:
# หาค่าเฉลี่ยของอายุได้โดย
sum = 0 # กำหนดให้ sum = 0 เนื่องจากถ้าค่าตัวที่ 1 มาบวกจะได้ค่าออกมาเท่ากับตัวที่ 1
N = 0 # กำหนดให้ N = 0 เป็นตัวหาร โดยจะทำการวนลูป # N เป็นตัวแปรที่จะนับว่ามีคนทั้งหมดกี่คน 
for a in female['age']: #เริ่มวนลูปโดยใน a แทนค่าแต่ละค่าในคอมลัมน์ age ของตาราง female
    
    if a > 0: # ถ้า a มากกว่า 0 แสดงว่าเป็นอายุปกติที่ไม่ใช่ข้อมูลที่ผิดพลาด
        sum += a # sum = sum + a # ถ้า a > 0 ก็จะนำมารวมเข้าไปใน sum เลื่อยๆในทุกๆรอบที่ a มากกว่า 0
        N += 1 # คำนวนจำนวนโดยที่มันจะ +1 เข้ามาเลื่อยๆ
        # sum คือค่าผลรวมทั้งหมด  N คือค่าจำนวนคนทั้งหมด
print(f'อายุเฉลี่ย ของ ผู้ป่วยหญิง {sum/N}') # sum/N = หาอายุเฉลี่ยของคนทั้งหมด

อายุเฉลี่ย ของ ผู้ป่วยหญิง 36.63955450022614

In [42]:
female_KK = female[female['province_of_onset']=='ขอนแก่น'] # เลือกเฉพาะจังหวัดขอนแก่น

sum = 0
N = 0
for a in female_KK['age']:
    
    if a > 0:
        sum += a # sum = sum + a
        N += 1

print(f'อายุเฉลี่ย ของ ผู้ป่วยหญิง ในจังหวัดขอนแก่น {sum/N}')

อายุเฉลี่ย ของ ผู้ป่วยหญิง ในจังหวัดขอนแก่น 41.57142857142857

การจัดการ Missing Value

- ลบ record ที่เป็น missing 
- แทนที่ ค่า missing ด้วยค่าที่เหมาะสม mean, default, category-unknown
- ใช้ ค่าจาก columns อื่นๆ ช่วยประมาณค่า ค่าใน column ที่หายไป (regression, deep learning, etc.)

### ลบ record (dropna)

missing = ```None``` ```NA```(not autorized) ```NaN``` (not a number)

In [43]:
this_data.shape #(12423, 3)

(12653, 3)

In [44]:
print(data_covid.shape)
print(data_covid.dropna().shape)

(12653, 10)
(6655, 10)

In [45]:
this_data.dropna().shape

(8478, 3)

In [46]:
this_data.dropna()

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[8478 rows x 3 columns]

In [47]:
this_data.dropna()
print(this_data.shape)

(12653, 3)

In [48]:
this_data.dropna(inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [49]:
this_data.dropna(inplace=True)
print(this_data.shape)

(8478, 3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [50]:
this_data = data_covid[['sex','age','province_of_onset']]
this_data.shape

(12653, 3)

In [51]:
this_data.dropna().shape

(8478, 3)

In [52]:
this_data.dropna(subset=['age']).shape

(8881, 3)

### แทน missing ด้วยค่าที่เหมาะสม (```fillna```)

In [53]:
this_data = data_covid[['sex','age','province_of_onset']]

In [54]:
this_data.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [55]:
print(f'จำนวน record ก่อน drop missing ใน province {this_data.shape[0]}')
print(f'จำนวน record หลัง drop missing ใน province {this_data.dropna(subset=["province_of_onset"]).shape[0]}')

จำนวน record ก่อน drop missing ใน province 12653
จำนวน record หลัง drop missing ใน province 10662

In [56]:
this_data_updated = this_data.fillna(value={'sex':'ไม่รู้', 'age':-1, 'province_of_onset':'ไม่รู้'})
this_data_updated.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [57]:
this_data_updated[this_data_updated['sex']=='ไม่รู้']

          sex  age province_of_onset
4391   ไม่รู้ -1.0         สมุทรสาคร
4392   ไม่รู้ -1.0         สมุทรสาคร
4393   ไม่รู้ -1.0         สมุทรสาคร
4394   ไม่รู้ -1.0         สมุทรสาคร
4395   ไม่รู้ -1.0         สมุทรสาคร
...       ...  ...               ...
12635  ไม่รู้ -1.0         สมุทรสาคร
12636  ไม่รู้ -1.0         สมุทรสาคร
12637  ไม่รู้ -1.0         สมุทรสาคร
12638  ไม่รู้ -1.0         สมุทรสาคร
12639  ไม่รู้ -1.0         สมุทรสาคร

[2502 rows x 3 columns]

In [58]:
this_data_updated['province_of_onset']=='ไม่รู้'

0        False
1        False
2        False
3        False
4        False
         ...
12648    False
12649    False
12650    False
12651    False
12652    False
Name: province_of_onset, Length: 12653, dtype: bool

In [59]:
data_covid[this_data_updated['province_of_onset']=='ไม่รู้']

         No.  ...                                         risk
414      415  ...                                      สนามมวย
529      530  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
555      556  ...                                      สนามมวย
576      577  ...                                      สนามมวย
588      589  ...                         อยู่ระหว่างการสอบสวน
...      ...  ...                                          ...
12405  12406  ...                            Cluster สมุทรสาคร
12406  12407  ...                            Cluster สมุทรสาคร
12407  12408  ...                            Cluster สมุทรสาคร
12408  12409  ...                            Cluster สมุทรสาคร
12409  12410  ...                            Cluster สมุทรสาคร

[1991 rows x 10 columns]

In [60]:
this_data_updated_2 = this_data.fillna(value={'province_of_onset':'ไม่รู้'})

In [61]:
this_data_updated_2[this_data_updated['sex']=='ไม่รู้']

       sex  age province_of_onset
4391   NaN  NaN         สมุทรสาคร
4392   NaN  NaN         สมุทรสาคร
4393   NaN  NaN         สมุทรสาคร
4394   NaN  NaN         สมุทรสาคร
4395   NaN  NaN         สมุทรสาคร
...    ...  ...               ...
12635  NaN  NaN         สมุทรสาคร
12636  NaN  NaN         สมุทรสาคร
12637  NaN  NaN         สมุทรสาคร
12638  NaN  NaN         สมุทรสาคร
12639  NaN  NaN         สมุทรสาคร

[2502 rows x 3 columns]

### การวนลูป record ในตาราง  (```.iterrows```)

In [62]:
this_data = data_covid[['sex','age','province_of_onset']]

In [63]:
for each_row in this_data.iterrows():
    # print(each_row)
    # print(each_row[1])
    if (each_row[1]['age'] == 20) and (each_row[1]['province_of_onset'] == 'ขอนแก่น'):
        print(each_row)

(9334, sex                      ชาย
age                       20
province_of_onset    ขอนแก่น
Name: 9334, dtype: object)

### การวนลูป แบบมองตารางแพนด้าส์(pandas dataframe) เป็น numpy array  (```.iloc```)

In [64]:
for each_row in range(this_data.shape[0]):
    if (this_data.iloc[each_row,1] == 20) and (this_data.iloc[each_row,2] == 'ขอนแก่น'):  #each_row คือ ตัวเลข
        print(each_row)
        print(this_data.iloc[each_row,:])

9334
sex                      ชาย
age                       20
province_of_onset    ขอนแก่น
Name: 9334, dtype: object

## Quiz ตัดตารางออกมาเฉพาะปี 2021 ```announce_date``` ในปี 2021 

**Hint**
*   วนลูปหา index ของปี 2021
*   ตัดตารางมาเฉพาะ ปี 2021

In [65]:
TF=list()
for each_row in data_covid.iterrows():
    if each_row[1]['announce_date'].split('/')[2] == '2021':
        TF.append(True)
    else:
        TF.append(False)

data_covid[TF].head()

       No.  ...                                               risk
6884  6885  ...                                  Cluster สมุทรสาคร
6885  6886  ...                                      Cluster ระยอง
6886  6887  ...                                        สถานบันเทิง
6887  6888  ...                                  Cluster สมุทรสาคร
6888  6889  ...  อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...

[5 rows x 10 columns]

# Function ตัวช่วยใน pandas

### ```.describe()``` คำนวณค่าทางสถิติของข้อมูลที่เป็นตัวเลข

In [66]:
data_covid.describe()

                No.          age
count  12653.000000  8881.000000
mean    6327.000000    38.054748
std     3652.750813    15.125178
min        1.000000     0.100000
25%     3164.000000    27.000000
50%     6327.000000    36.000000
75%     9490.000000    48.000000
max    12653.000000    97.000000

### ```.mean()``` คำนวณค่าเฉลี่ยของข้อมูลโดยไม่สนใจ missing

In [67]:
data_covid[data_covid['sex']=='ชาย']['age'].mean()

39.46076940331987

### ```.isnull()```

In [68]:
data_covid.isnull()

         No.  announce_date  ...  district_of_onset   risk
0      False          False  ...               True  False
1      False          False  ...               True  False
2      False          False  ...              False  False
3      False          False  ...               True  False
4      False          False  ...               True  False
...      ...            ...  ...                ...    ...
12648  False          False  ...              False  False
12649  False          False  ...              False  False
12650  False          False  ...              False  False
12651  False          False  ...              False  False
12652  False          False  ...              False  False

[12653 rows x 10 columns]

# next
*   .describe
*   .mean
*   HW วนลูป missing .isnull
*   ต่อตารางแกน X แกน y
*   .groupby
*   save table