<a href="https://colab.research.google.com/github/Nunticha24/data_viz_2022/blob/main/Project_Dinosaur.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Present Project กลุ่ม

https://drive.google.com/drive/u/0/folders/1G9XaOQ1IExr0m-UwWypqGPtGzi5HE-YL

In [1]:
import pandas as pd
import os

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
path = '/content/drive/My Drive/Project_Dinosaur'

##ตารางข้อมูล covid ปี2020

* No รหัสผู้ป่วย
* Age อายุของผู้ป่วย
* Sex เพศผู้ป่วย
* Nationality สัญชาติ
* Province of isolation จังหวัดที่รักษาตัว
* Notification Date วันที่กระทรวงได้รับรายงาน
* Announce Date วันที่แถลงข่าว
* Province of onset จังหวัดที่เริ่มพบว่าตัวเองมีอาการป่วย
* District of onset อำเภอที่เริ่มพบว่าตัวเองมีอาการป่วย
* risk สถานที่

In [4]:
data_covid2020 =  pd.read_csv(os.path.join(path,'confirmed-cases.csv'))
data_covid2020

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
839766,839767,12/8/2021,11/8/2021,ชาย,52.0,ปี,NaN,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839767,839768,12/8/2021,11/8/2021,ชาย,34.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839768,839769,12/8/2021,11/8/2021,ชาย,31.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839769,839770,12/8/2021,11/8/2021,ชาย,83.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839770,839771,12/8/2021,11/8/2021,ชาย,47.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN

##ตารางข้อมูล covid ปี2021(1)

In [5]:
data_covid2021_1 =  pd.read_csv(os.path.join(path,'confirmed-cases-since-120864.csv'))
data_covid2021_1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

##ตารางข้อมูล covid ปี2021(2)

In [6]:
data_covid2021_2 =  pd.read_csv(os.path.join(path,'confirmed-cases-since-271064.csv'))
data_covid2021_2

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

##ตารางข้อมูล covid ปี2022

In [7]:
data_covid2022 =  pd.read_csv(os.path.join(path,'confirmed-cases-since-280265.csv'))
data_covid2022

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

##ต่อตาราง

In [8]:
covid = pd.concat([data_covid2020,data_covid2021_1,data_covid2021_2,data_covid2022])
covid

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

###เลือกเอา column ที่ต้องการ

In [9]:
Covid = covid[['No.','announce_date','sex','age','Unit','province_of_isolation']]
Covid

            No. announce_date   sex   age Unit province_of_isolation
0             1     12/1/2020  หญิง  61.0   ปี         กรุงเทพมหานคร
1             2     17/1/2020  หญิง  74.0   ปี         กรุงเทพมหานคร
2             3     22/1/2020  หญิง  73.0   ปี                นครปฐม
3             4     22/1/2020   ชาย  68.0   ปี         กรุงเทพมหานคร
4             5     24/1/2020  หญิง  66.0   ปี               นนทบุรี
...         ...           ...   ...   ...  ...                   ...
433548  3303165     18/3/2022  หญิง   NaN  NaN         กรุงเทพมหานคร
433549  3303166     18/3/2022  หญิง   NaN  NaN         กรุงเทพมหานคร
433550  3303167     18/3/2022  หญิง   NaN  NaN         กรุงเทพมหานคร
433551  3303168     18/3/2022  หญิง   NaN  NaN                 สงขลา
433552  3303169     18/3/2022  หญิง   NaN  NaN                 สงขลา

[3325951 rows x 6 columns]

###ตรวจสอบค่า Missing

In [10]:
Covid.isnull().any()

No.                      False
announce_date            False
sex                       True
age                       True
Unit                      True
province_of_isolation     True
dtype: bool

###แทนค่า mising

In [11]:
Covid[['sex']] = Covid[['sex']].fillna('ไม่ระบุ')
Covid[['Unit']] = Covid[['Unit']].fillna('ปี')
Covid[['province_of_isolation']] = Covid[['province_of_isolation']].fillna('ไม่ระบุ')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [12]:
Covid = Covid.fillna(method="bfill") #ใช้ bfill คือการแทนที่ด้วยค่าถัดไปคือการนำค่าถัดไปที่มีค่า ของเซลล์ตัวเองมาแทนที่ลงในช่องที่เป็น NaN
Covid.isnull().any() #เช็คข้อมูลในแต่ละคอลัมน์อีกครั้ง

No.                      False
announce_date            False
sex                      False
age                       True
Unit                     False
province_of_isolation    False
dtype: bool

In [13]:
Covid

            No. announce_date   sex   age Unit province_of_isolation
0             1     12/1/2020  หญิง  61.0   ปี         กรุงเทพมหานคร
1             2     17/1/2020  หญิง  74.0   ปี         กรุงเทพมหานคร
2             3     22/1/2020  หญิง  73.0   ปี                นครปฐม
3             4     22/1/2020   ชาย  68.0   ปี         กรุงเทพมหานคร
4             5     24/1/2020  หญิง  66.0   ปี               นนทบุรี
...         ...           ...   ...   ...  ...                   ...
433548  3303165     18/3/2022  หญิง   NaN   ปี         กรุงเทพมหานคร
433549  3303166     18/3/2022  หญิง   NaN   ปี         กรุงเทพมหานคร
433550  3303167     18/3/2022  หญิง   NaN   ปี         กรุงเทพมหานคร
433551  3303168     18/3/2022  หญิง   NaN   ปี                 สงขลา
433552  3303169     18/3/2022  หญิง   NaN   ปี                 สงขลา

[3325951 rows x 6 columns]

In [14]:
set(Covid['province_of_isolation'])

{'กทม',
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่น\xa0',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภููเก็ต',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน',
 'ไม่ระบุ'}

In [15]:
#ทำข้อมูลให้เหมือนกัน
Covid['province_of_isolation'].replace({'กทม':'กรุงเทพมหานคร','ขอนแก่น\xa0':'ขอนแก่น', 'ภููเก็ต':'ภูเก็ต'}, inplace=True)

In [16]:
len(set(Covid['province_of_isolation']))

78

In [17]:
Covid_gb = Covid.groupby('province_of_isolation').size().reset_index(name='จำนวนผู้รักษาตัวสะสม')  #สร้างตารางที่รวมจำนวนผู้รักษาตัวในแต่ละจังหวัด
Covid_gb

   province_of_isolation  จำนวนผู้ติดเชื้อ
0                 กระบี่             19856
1          กรุงเทพมหานคร            630082
2              กาญจนบุรี             36985
3              กาฬสินธุ์             20821
4              กำแพงเพชร             15724
..                   ...               ...
73             เพชรบูรณ์             19482
74                   เลย             10762
75                  แพร่              5930
76            แม่ฮ่องสอน              4475
77               ไม่ระบุ              3956

[78 rows x 2 columns]

In [20]:
datacovid_dropped = Covid.dropna() #drop ค่าว่างออกจากตาราง
datacovid_dropped

            No. announce_date      sex   age Unit province_of_isolation
0             1     12/1/2020     หญิง  61.0   ปี         กรุงเทพมหานคร
1             2     17/1/2020     หญิง  74.0   ปี         กรุงเทพมหานคร
2             3     22/1/2020     หญิง  73.0   ปี                นครปฐม
3             4     22/1/2020      ชาย  68.0   ปี         กรุงเทพมหานคร
4             5     24/1/2020     หญิง  66.0   ปี               นนทบุรี
...         ...           ...      ...   ...  ...                   ...
433445  3303062     18/3/2022  ไม่ระบุ  43.0   ปี         กรุงเทพมหานคร
433446  3303063     18/3/2022  ไม่ระบุ  21.0   ปี         กรุงเทพมหานคร
433447  3303064     18/3/2022  ไม่ระบุ  22.0   ปี         กรุงเทพมหานคร
433448  3303065     18/3/2022  ไม่ระบุ  25.0   ปี         กรุงเทพมหานคร
433449  3303066     18/3/2022  ไม่ระบุ  64.0   ปี         กรุงเทพมหานคร

[3325848 rows x 6 columns]

##ภูมิภาค แบ่งเป็น 6 ภูมิภาค (ภูมิศาสตร์)

In [22]:
data_region = {'Province': ['อำนาจเจริญ', 'บึงกาฬ', 'บุรีรัมย์', 'ชัยภูมิ', 'กาฬสินธุ์', 'ขอนแก่น', 'เลย', 'มหาสารคาม', 'มุกดาหาร', 'นครพนม', 'นครราชสีมา', 'หนองบัวลำภู', 'หนองคาย', 'ร้อยเอ็ด', 'สกลนคร', 'ศรีสะเกษ', 'สุรินทร์', 'อุบลราชธานี', 'อุดรธานี', 'ยโสธร','เชียงใหม่', 'เชียงราย', 'ลำปาง', 'ลำพูน', 'แม่ฮ่องสอน', 'น่าน', 'พะเยา', 'แพร่', 'อุตรดิตถ์','ตาก','สุโขทัย', 'พิษณุโลก', 'พิจิตร', 'กำแพงเพชร', 'เพชรบูรณ์','นครสวรรค์', 'อุทัยธานี','อ่างทอง', 'ชัยนาท', 'พระนครศรีอยุธยา', 'กรุงเทพมหานคร', 'ลพบุรี', 'นครปฐม', 'นนทบุรี', 'ปทุมธานี', 'สมุทรปราการ','สมุทรสาคร', 'สมุทรสงคราม','สระบุรี', 'สิงห์บุรี', 'สุพรรณบุรี','นครนายก','ฉะเชิงเทรา', 'จันทบุรี', 'ชลบุรี', 'ปราจีนบุรี', 'ระยอง', 'สระแก้ว', 'ตราด','กาญจนบุรี', 'ราชบุรี','เพชรบุรี', 'ประจวบคีรีขันธ์','ชุมพร', 'นครศรีธรรมราช', 'นราธิวาส', 'ปัตตานี', 'พัทลุง', 'สงขลา', 'สุราษฎร์ธานี', 'ยะลา','กระบี่', 'พังงา', 'ภูเก็ต', 'ระนอง', 'สตูล', 'ตรัง'],
            '6 ภูมิภาค (ภูมิศาสตร์)': ['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','ตะวันตก','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันตก','ตะวันตก','ตะวันตก','ตะวันตก','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้']
}
data_region = pd.DataFrame.from_dict(data_region) 
data_region #แสดงตาราง Region

      Province 6 ภูมิภาค (ภูมิศาสตร์)
0   อำนาจเจริญ     ตะวันออกเฉียงเหนือ
1       บึงกาฬ     ตะวันออกเฉียงเหนือ
2    บุรีรัมย์     ตะวันออกเฉียงเหนือ
3      ชัยภูมิ     ตะวันออกเฉียงเหนือ
4    กาฬสินธุ์     ตะวันออกเฉียงเหนือ
..         ...                    ...
72       พังงา                    ใต้
73      ภูเก็ต                    ใต้
74       ระนอง                    ใต้
75        สตูล                    ใต้
76        ตรัง                    ใต้

[77 rows x 2 columns]

##นำเข้าข้อมูลที่เลือกเอง

##การเดินทางของประชาชนในช่วงการแพร่ระบาดของเชื้อไวรัส COVID-19

In [23]:
passenger =  pd.read_csv(os.path.join(path,'passenger-covid19.csv'))
passenger

,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน),รถส่วนบุคคล เข้า - ออก กทม. (คัน),รถโดยสารประจำทางใน กทม. และปริมณฑล (ขสมก. และ รถร่วม) (คน),รถโดยสารประจำทางระหว่าง กทม. - ตจว. \n(บขส. และ รถร่วม) (คน),รถส่วนบุคคล เข้า - ออก กทม. (คัน).1,...,รถไฟระหว่างเมือง,เรือด่วนเจ้าพระยา,เรือคลองแสนแสบ,เรือข้ามฟากเจ้าพระยา,เรือไฟฟ้าเจ้าพระยา,เรือในภูมิภาค,รวมท่าอากาศยานใน กทม.,ท่าอากาศยานสุวรรณภูมิ,ท่าอากาศยานดอนเมือง,ท่าอากาศยานภูมิภาค
0,1/1/2020,"1,483,255","885,353","272,578","102,678","2,743,864","2,310,406","1,249,925","233,330","2,310,406",...,"115,975","29,518","20,420",0,0,"222,640","45,774","14,674","31,100","56,904"
1,2/1/2020,"1,705,026","1,269,207","291,990","104,613","3,370,836","2,538,456","1,452,127","252,899","2,538,456",...,"103,113","30,794","35,430",0,0,"225,766","45,045","14,974","30,071","59,568"
2,3/1/2020,"1,752,572","1,366,412","301,260","100,575","3,520,819","2,649,091","1,526,841","225,731","2,649,091",...,"98,657","31,036","32,540",0,0,"237,684","41,894","13,036","28,858","58,681"
3,4/1/2020,"1,576,146","1,027,281","271,171","100,852","2,975,450","2,515,920","1,359,227","216,919","2,515,920",...,"94,876","20,236","20,850",0,0,"230,085","40,186","12,163","28,023","60,666"
4,5/1/2020,"1,565,134","915,425","254,176","100,784","2,835,519","2,542,483","1,330,523","234,611","2,542,483",...,"98,259","17,066","20,030",0,0,"217,080","40,161","12,468","27,693","60,623"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
805,16/3/2022,"641,639","685,639","81,496","50,761","1,459,535","2,037,089","608,499","27,649","2,037,089",...,"28,775","5,694","9,519","13,838",628,"51,817","23,360","11,176","12,184","27,401"
806,17/3/2022,"657,339","676,376","93,516","53,177","1,480,408","2,127,054","624,531","27,910","2,127,054",...,"29,467","5,608","9,502","13,633",583,"64,190","26,329","12,579","13,750","26,848"
807,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484","2,217,820","610,545","30,125","2,217,820",...,"32,972","5,737","9,477","13,783",575,"75,229","29,725","14,085","15,640","33,505"
808,19/3/2022,"555,727","580,102","93,046","58,347","1,287,222","2,049,811","521,037","29,533","2,049,811",...,"28,930","1,976","3,527","12,742",506,"74,295","27,474","13,272","14,202","30,873"
809,20/3/2022,"495,000","455,593","84,072","64,442","1,099,107","1,863,234","459,263","30,534","1,863,234",...,"32,080",0,0,"12,375",358,"71,339","28,736","13,659","15,077","35,706"

In [24]:
passenger.isnull().any()

วันที่                                                          False
ทางถนน (คน)                                                     False
ทางราง (คน)                                                     False
ทางน้ำ (คน)                                                     False
ทางอากาศ* (คน)                                                  False
รวมประชาชนเดินทาง (คน)                                          False
รถส่วนบุคคล เข้า - ออก กทม. (คัน)                               False
รถโดยสารประจำทางใน กทม. และปริมณฑล (ขสมก. และ รถร่วม) (คน)      False
รถโดยสารประจำทางระหว่าง กทม. - ตจว. \n(บขส. และ รถร่วม) (คน)    False
รถส่วนบุคคล เข้า - ออก กทม. (คัน).1                             False
บนถนนทางหลวง                                                    False
บนทางด่วน                                                       False
รวมรถไฟฟ้า                                                      False
รถไฟฟ้าสายสีน้ำเงิน                                             False
รถไฟฟ้าสายสีม่วง                                                False
รถไฟฟ้า ARL                                                     False
รถไฟฟ้า BTS                                                     False
รถไฟสายสีแดง                                                    False
รถไฟระหว่างเมือง                                                False
เรือด่วนเจ้าพระยา                                               False
เรือคลองแสนแสบ                                                  False
เรือข้ามฟากเจ้าพระยา                                            False
เรือไฟฟ้าเจ้าพระยา                                              False
เรือในภูมิภาค                                                   False
รวมท่าอากาศยานใน กทม.                                           False
ท่าอากาศยานสุวรรณภูมิ                                           False
ท่าอากาศยานดอนเมือง                                             False
ท่าอากาศยานภูมิภาค                                              False
dtype: bool

###เลือกเอา column ที่ต้องการ

In [25]:
Passenger = passenger[['วันที่','ทางถนน (คน)','ทางราง (คน)','ทางน้ำ (คน)', 'ทางอากาศ* (คน)', 'รวมประชาชนเดินทาง (คน)']]
Passenger

,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
0,1/1/2020,"1,483,255","885,353","272,578","102,678","2,743,864"
1,2/1/2020,"1,705,026","1,269,207","291,990","104,613","3,370,836"
2,3/1/2020,"1,752,572","1,366,412","301,260","100,575","3,520,819"
3,4/1/2020,"1,576,146","1,027,281","271,171","100,852","2,975,450"
4,5/1/2020,"1,565,134","915,425","254,176","100,784","2,835,519"
...,...,...,...,...,...,...
805,16/3/2022,"641,639","685,639","81,496","50,761","1,459,535"
806,17/3/2022,"657,339","676,376","93,516","53,177","1,480,408"
807,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
808,19/3/2022,"555,727","580,102","93,046","58,347","1,287,222"
809,20/3/2022,"495,000","455,593","84,072","64,442","1,099,107"

###ตรวจสอบค่า Missing

In [26]:
Passenger.isnull().any()

วันที่                    False
ทางถนน (คน)               False
ทางราง (คน)               False
ทางน้ำ (คน)               False
ทางอากาศ* (คน)            False
รวมประชาชนเดินทาง (คน)    False
dtype: bool

##รวมข้อมูล Covid กับ ภูมิภาค

In [28]:
covid_re = datacovid_dropped.merge(data_region,how='left',left_on='province_of_isolation',right_on = 'Province') 
covid_re

,No.,announce_date,sex,age,Unit,province_of_isolation,Province,6 ภูมิภาค (ภูมิศาสตร์)
0,1,12/1/2020,หญิง,61.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
1,2,17/1/2020,หญิง,74.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
2,3,22/1/2020,หญิง,73.0,ปี,นครปฐม,นครปฐม,กลาง
3,4,22/1/2020,ชาย,68.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
4,5,24/1/2020,หญิง,66.0,ปี,นนทบุรี,นนทบุรี,กลาง
...,...,...,...,...,...,...,...,...
3325843,3303062,18/3/2022,ไม่ระบุ,43.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
3325844,3303063,18/3/2022,ไม่ระบุ,21.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
3325845,3303064,18/3/2022,ไม่ระบุ,22.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
3325846,3303065,18/3/2022,ไม่ระบุ,25.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
3325847,3303066,18/3/2022,ไม่ระบุ,64.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง

###ตรวจสอบค่า Missing

In [29]:
covid_re.isnull().any()

No.                       False
announce_date             False
sex                       False
age                       False
Unit                      False
province_of_isolation     False
Province                   True
6 ภูมิภาค (ภูมิศาสตร์)     True
dtype: bool

In [30]:
covid_re = covid_re.fillna(value={'จังหวัด':'ไม่ระบุ','6 ภูมิภาค (ภูมิศาสตร์)':'ไม่ระบุ'})
covid_re

,No.,announce_date,sex,age,Unit,province_of_isolation,Province,6 ภูมิภาค (ภูมิศาสตร์)
0,1,12/1/2020,หญิง,61.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
1,2,17/1/2020,หญิง,74.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
2,3,22/1/2020,หญิง,73.0,ปี,นครปฐม,นครปฐม,กลาง
3,4,22/1/2020,ชาย,68.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
4,5,24/1/2020,หญิง,66.0,ปี,นนทบุรี,นนทบุรี,กลาง
...,...,...,...,...,...,...,...,...
3325843,3303062,18/3/2022,ไม่ระบุ,43.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
3325844,3303063,18/3/2022,ไม่ระบุ,21.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
3325845,3303064,18/3/2022,ไม่ระบุ,22.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
3325846,3303065,18/3/2022,ไม่ระบุ,25.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
3325847,3303066,18/3/2022,ไม่ระบุ,64.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง

##นำข้อมูล Covid กับ ภูมิภาค ไปรวมกับ การเดินทางของประชาชนในช่วงการแพร่ระบาดของเชื้อไวรัส COVID-19

In [74]:
covid_re_pass = covid_re.merge(Passenger,how='left',left_on='announce_date',right_on = 'วันที่') 
covid_re_pass

,No.,announce_date,sex,age,Unit,province_of_isolation,Province,6 ภูมิภาค (ภูมิศาสตร์),วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
0,1,12/1/2020,หญิง,61.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,12/1/2020,"1,511,236","988,051","246,025","99,755","2,845,067"
1,2,17/1/2020,หญิง,74.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,17/1/2020,"1,732,040","1,599,647","281,743","106,000","3,719,430"
2,3,22/1/2020,หญิง,73.0,ปี,นครปฐม,นครปฐม,กลาง,22/1/2020,"1,678,182","1,488,097","267,105","101,432","3,534,816"
3,4,22/1/2020,ชาย,68.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,22/1/2020,"1,678,182","1,488,097","267,105","101,432","3,534,816"
4,5,24/1/2020,หญิง,66.0,ปี,นนทบุรี,นนทบุรี,กลาง,24/1/2020,"1,658,692","1,527,329","281,291","103,697","3,571,009"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3325843,3303062,18/3/2022,ไม่ระบุ,43.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
3325844,3303063,18/3/2022,ไม่ระบุ,21.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
3325845,3303064,18/3/2022,ไม่ระบุ,22.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
3325846,3303065,18/3/2022,ไม่ระบุ,25.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
3325847,3303066,18/3/2022,ไม่ระบุ,64.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"

In [75]:
covid_re_pass.isnull().any()

No.                       False
announce_date             False
sex                       False
age                       False
Unit                      False
province_of_isolation     False
Province                   True
6 ภูมิภาค (ภูมิศาสตร์)    False
วันที่                    False
ทางถนน (คน)               False
ทางราง (คน)               False
ทางน้ำ (คน)               False
ทางอากาศ* (คน)            False
รวมประชาชนเดินทาง (คน)    False
dtype: bool

##แบ่งข้อมูล เนื่องจากข้อมูลมีขาดใหญ่

In [76]:
covid_re_pass

,No.,announce_date,sex,age,Unit,province_of_isolation,Province,6 ภูมิภาค (ภูมิศาสตร์),วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
0,1,12/1/2020,หญิง,61.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,12/1/2020,"1,511,236","988,051","246,025","99,755","2,845,067"
1,2,17/1/2020,หญิง,74.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,17/1/2020,"1,732,040","1,599,647","281,743","106,000","3,719,430"
2,3,22/1/2020,หญิง,73.0,ปี,นครปฐม,นครปฐม,กลาง,22/1/2020,"1,678,182","1,488,097","267,105","101,432","3,534,816"
3,4,22/1/2020,ชาย,68.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,22/1/2020,"1,678,182","1,488,097","267,105","101,432","3,534,816"
4,5,24/1/2020,หญิง,66.0,ปี,นนทบุรี,นนทบุรี,กลาง,24/1/2020,"1,658,692","1,527,329","281,291","103,697","3,571,009"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3325843,3303062,18/3/2022,ไม่ระบุ,43.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
3325844,3303063,18/3/2022,ไม่ระบุ,21.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
3325845,3303064,18/3/2022,ไม่ระบุ,22.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
3325846,3303065,18/3/2022,ไม่ระบุ,25.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
3325847,3303066,18/3/2022,ไม่ระบุ,64.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"

In [77]:
data1 = covid_re_pass.iloc[:425000,:]
data1

,No.,announce_date,sex,age,Unit,province_of_isolation,Province,6 ภูมิภาค (ภูมิศาสตร์),วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
0,1,12/1/2020,หญิง,61.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,12/1/2020,"1,511,236","988,051","246,025","99,755","2,845,067"
1,2,17/1/2020,หญิง,74.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,17/1/2020,"1,732,040","1,599,647","281,743","106,000","3,719,430"
2,3,22/1/2020,หญิง,73.0,ปี,นครปฐม,นครปฐม,กลาง,22/1/2020,"1,678,182","1,488,097","267,105","101,432","3,534,816"
3,4,22/1/2020,ชาย,68.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,22/1/2020,"1,678,182","1,488,097","267,105","101,432","3,534,816"
4,5,24/1/2020,หญิง,66.0,ปี,นนทบุรี,นนทบุรี,กลาง,24/1/2020,"1,658,692","1,527,329","281,291","103,697","3,571,009"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
424995,424996,20/7/2021,ชาย,70.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,20/7/2021,"382,729","249,909","45,820","5,854","684,312"
424996,424997,20/7/2021,ชาย,70.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,20/7/2021,"382,729","249,909","45,820","5,854","684,312"
424997,424998,20/7/2021,หญิง,8.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,20/7/2021,"382,729","249,909","45,820","5,854","684,312"
424998,424999,20/7/2021,หญิง,37.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,20/7/2021,"382,729","249,909","45,820","5,854","684,312"
424999,425000,20/7/2021,ชาย,11.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,20/7/2021,"382,729","249,909","45,820","5,854","684,312"

In [78]:
data2 = covid_re_pass.iloc[425000:850000,:]
data2

,No.,announce_date,sex,age,Unit,province_of_isolation,Province,6 ภูมิภาค (ภูมิศาสตร์),วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
425000,425001,20/7/2021,ชาย,37.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,20/7/2021,"382,729","249,909","45,820","5,854","684,312"
425001,425002,20/7/2021,ชาย,37.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,20/7/2021,"382,729","249,909","45,820","5,854","684,312"
425002,425003,20/7/2021,ชาย,32.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,20/7/2021,"382,729","249,909","45,820","5,854","684,312"
425003,425004,20/7/2021,ชาย,27.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,20/7/2021,"382,729","249,909","45,820","5,854","684,312"
425004,425005,20/7/2021,ชาย,55.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,20/7/2021,"382,729","249,909","45,820","5,854","684,312"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
849995,827214,12/8/2021,หญิง,50.0,ปี,ชลบุรี,ชลบุรี,ตะวันออก,12/8/2021,"219,301","119,041","32,878",157,"371,377"
849996,827215,12/8/2021,หญิง,24.0,ปี,ชลบุรี,ชลบุรี,ตะวันออก,12/8/2021,"219,301","119,041","32,878",157,"371,377"
849997,827216,12/8/2021,ชาย,29.0,ปี,ชลบุรี,ชลบุรี,ตะวันออก,12/8/2021,"219,301","119,041","32,878",157,"371,377"
849998,827217,12/8/2021,ชาย,32.0,ปี,ชลบุรี,ชลบุรี,ตะวันออก,12/8/2021,"219,301","119,041","32,878",157,"371,377"
849999,827218,12/8/2021,ชาย,21.0,ปี,ชลบุรี,ชลบุรี,ตะวันออก,12/8/2021,"219,301","119,041","32,878",157,"371,377"

In [79]:
data3 = covid_re_pass.iloc[850000:1275000,:]
data3

,No.,announce_date,sex,age,Unit,province_of_isolation,Province,6 ภูมิภาค (ภูมิศาสตร์),วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
850000,827219,12/8/2021,หญิง,48.0,ปี,ชลบุรี,ชลบุรี,ตะวันออก,12/8/2021,"219,301","119,041","32,878",157,"371,377"
850001,827220,12/8/2021,หญิง,31.0,ปี,ชลบุรี,ชลบุรี,ตะวันออก,12/8/2021,"219,301","119,041","32,878",157,"371,377"
850002,827221,12/8/2021,ชาย,56.0,ปี,ชลบุรี,ชลบุรี,ตะวันออก,12/8/2021,"219,301","119,041","32,878",157,"371,377"
850003,827222,12/8/2021,หญิง,45.0,ปี,ชลบุรี,ชลบุรี,ตะวันออก,12/8/2021,"219,301","119,041","32,878",157,"371,377"
850004,827223,12/8/2021,ชาย,29.0,ปี,ชลบุรี,ชลบุรี,ตะวันออก,12/8/2021,"219,301","119,041","32,878",157,"371,377"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1274995,1252214,4/9/2021,ไม่ระบุ,25.0,ปี,สมุทรสาคร,สมุทรสาคร,กลาง,4/9/2021,"385,025","275,339","38,329","5,468","704,161"
1274996,1252215,4/9/2021,ไม่ระบุ,20.0,ปี,สมุทรสาคร,สมุทรสาคร,กลาง,4/9/2021,"385,025","275,339","38,329","5,468","704,161"
1274997,1252216,4/9/2021,ไม่ระบุ,23.0,ปี,สมุทรสาคร,สมุทรสาคร,กลาง,4/9/2021,"385,025","275,339","38,329","5,468","704,161"
1274998,1252217,4/9/2021,ไม่ระบุ,30.0,ปี,สมุทรสาคร,สมุทรสาคร,กลาง,4/9/2021,"385,025","275,339","38,329","5,468","704,161"
1274999,1252218,4/9/2021,ไม่ระบุ,31.0,ปี,สมุทรสาคร,สมุทรสาคร,กลาง,4/9/2021,"385,025","275,339","38,329","5,468","704,161"

In [83]:
data4 = covid_re_pass.iloc[1275000:1700000,:]
data4

,No.,announce_date,sex,age,Unit,province_of_isolation,Province,6 ภูมิภาค (ภูมิศาสตร์),วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
1275000,1252219,4/9/2021,ไม่ระบุ,23.0,ปี,สมุทรสาคร,สมุทรสาคร,กลาง,4/9/2021,"385,025","275,339","38,329","5,468","704,161"
1275001,1252220,4/9/2021,ไม่ระบุ,26.0,ปี,สมุทรสาคร,สมุทรสาคร,กลาง,4/9/2021,"385,025","275,339","38,329","5,468","704,161"
1275002,1252221,4/9/2021,ไม่ระบุ,38.0,ปี,สมุทรสาคร,สมุทรสาคร,กลาง,4/9/2021,"385,025","275,339","38,329","5,468","704,161"
1275003,1252222,4/9/2021,ไม่ระบุ,38.0,ปี,สมุทรสาคร,สมุทรสาคร,กลาง,4/9/2021,"385,025","275,339","38,329","5,468","704,161"
1275004,1252223,4/9/2021,ไม่ระบุ,47.0,ปี,สมุทรสาคร,สมุทรสาคร,กลาง,4/9/2021,"385,025","275,339","38,329","5,468","704,161"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1699995,1677214,7/10/2021,หญิง,13.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,7/10/2021,"537,383","467,045","50,832","15,590","1,070,850"
1699996,1677215,7/10/2021,หญิง,28.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,7/10/2021,"537,383","467,045","50,832","15,590","1,070,850"
1699997,1677216,7/10/2021,ชาย,65.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,7/10/2021,"537,383","467,045","50,832","15,590","1,070,850"
1699998,1677217,7/10/2021,หญิง,24.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,7/10/2021,"537,383","467,045","50,832","15,590","1,070,850"
1699999,1677218,7/10/2021,หญิง,20.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,7/10/2021,"537,383","467,045","50,832","15,590","1,070,850"

In [84]:
data5 = covid_re_pass.iloc[1700000:2125000,:]
data5

,No.,announce_date,sex,age,Unit,province_of_isolation,Province,6 ภูมิภาค (ภูมิศาสตร์),วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
1700000,1677219,7/10/2021,ชาย,21.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,7/10/2021,"537,383","467,045","50,832","15,590","1,070,850"
1700001,1677220,7/10/2021,ชาย,21.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,7/10/2021,"537,383","467,045","50,832","15,590","1,070,850"
1700002,1677221,7/10/2021,ชาย,40.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,7/10/2021,"537,383","467,045","50,832","15,590","1,070,850"
1700003,1677222,7/10/2021,หญิง,29.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,7/10/2021,"537,383","467,045","50,832","15,590","1,070,850"
1700004,1677223,7/10/2021,ชาย,37.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,7/10/2021,"537,383","467,045","50,832","15,590","1,070,850"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2124995,2102214,28/11/2021,หญิง,61.0,ปี,ราชบุรี,ราชบุรี,ตะวันตก,28/11/2021,"545,865","482,774","71,500","57,422","1,157,561"
2124996,2102215,28/11/2021,หญิง,59.0,ปี,ราชบุรี,ราชบุรี,ตะวันตก,28/11/2021,"545,865","482,774","71,500","57,422","1,157,561"
2124997,2102216,28/11/2021,หญิง,28.0,ปี,ราชบุรี,ราชบุรี,ตะวันตก,28/11/2021,"545,865","482,774","71,500","57,422","1,157,561"
2124998,2102217,28/11/2021,หญิง,45.0,ปี,ราชบุรี,ราชบุรี,ตะวันตก,28/11/2021,"545,865","482,774","71,500","57,422","1,157,561"
2124999,2102218,28/11/2021,หญิง,41.0,ปี,ราชบุรี,ราชบุรี,ตะวันตก,28/11/2021,"545,865","482,774","71,500","57,422","1,157,561"

In [86]:
data6 = covid_re_pass.iloc[2125000:2550000,:]
data6

,No.,announce_date,sex,age,Unit,province_of_isolation,Province,6 ภูมิภาค (ภูมิศาสตร์),วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
2125000,2102219,28/11/2021,ชาย,30.0,ปี,ราชบุรี,ราชบุรี,ตะวันตก,28/11/2021,"545,865","482,774","71,500","57,422","1,157,561"
2125001,2102220,28/11/2021,หญิง,25.0,ปี,ราชบุรี,ราชบุรี,ตะวันตก,28/11/2021,"545,865","482,774","71,500","57,422","1,157,561"
2125002,2102221,28/11/2021,ชาย,23.0,ปี,ราชบุรี,ราชบุรี,ตะวันตก,28/11/2021,"545,865","482,774","71,500","57,422","1,157,561"
2125003,2102222,28/11/2021,หญิง,12.0,ปี,ราชบุรี,ราชบุรี,ตะวันตก,28/11/2021,"545,865","482,774","71,500","57,422","1,157,561"
2125004,2102223,28/11/2021,ชาย,13.0,ปี,ราชบุรี,ราชบุรี,ตะวันตก,28/11/2021,"545,865","482,774","71,500","57,422","1,157,561"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2549995,2527214,9/2/2022,ชาย,18.0,ปี,กระบี่,กระบี่,ใต้,9/2/2022,"723,515","748,273","79,573","44,485","1,595,846"
2549996,2527215,9/2/2022,ชาย,58.0,ปี,กระบี่,กระบี่,ใต้,9/2/2022,"723,515","748,273","79,573","44,485","1,595,846"
2549997,2527216,9/2/2022,หญิง,54.0,ปี,กระบี่,กระบี่,ใต้,9/2/2022,"723,515","748,273","79,573","44,485","1,595,846"
2549998,2527217,9/2/2022,ชาย,6.0,ปี,กระบี่,กระบี่,ใต้,9/2/2022,"723,515","748,273","79,573","44,485","1,595,846"
2549999,2527218,9/2/2022,หญิง,3.0,ปี,กระบี่,กระบี่,ใต้,9/2/2022,"723,515","748,273","79,573","44,485","1,595,846"

In [87]:
data7 = covid_re_pass.iloc[2550000:2975000,:]
data7

,No.,announce_date,sex,age,Unit,province_of_isolation,Province,6 ภูมิภาค (ภูมิศาสตร์),วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
2550000,2527219,9/2/2022,หญิง,41.0,ปี,กระบี่,กระบี่,ใต้,9/2/2022,"723,515","748,273","79,573","44,485","1,595,846"
2550001,2527220,9/2/2022,ชาย,66.0,ปี,กระบี่,กระบี่,ใต้,9/2/2022,"723,515","748,273","79,573","44,485","1,595,846"
2550002,2527221,9/2/2022,หญิง,12.0,ปี,กระบี่,กระบี่,ใต้,9/2/2022,"723,515","748,273","79,573","44,485","1,595,846"
2550003,2527222,9/2/2022,หญิง,2.0,ปี,กระบี่,กระบี่,ใต้,9/2/2022,"723,515","748,273","79,573","44,485","1,595,846"
2550004,2527223,9/2/2022,หญิง,11.0,เดือน,กระบี่,กระบี่,ใต้,9/2/2022,"723,515","748,273","79,573","44,485","1,595,846"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2974995,2952214,3/3/2022,ชาย,32.0,ปี,ภูเก็ต,ภูเก็ต,ใต้,3/3/2022,"651,774","671,962","82,875","45,735","1,452,346"
2974996,2952215,3/3/2022,หญิง,56.0,ปี,ภูเก็ต,ภูเก็ต,ใต้,3/3/2022,"651,774","671,962","82,875","45,735","1,452,346"
2974997,2952216,3/3/2022,หญิง,29.0,ปี,ภูเก็ต,ภูเก็ต,ใต้,3/3/2022,"651,774","671,962","82,875","45,735","1,452,346"
2974998,2952217,3/3/2022,หญิง,41.0,ปี,ภูเก็ต,ภูเก็ต,ใต้,3/3/2022,"651,774","671,962","82,875","45,735","1,452,346"
2974999,2952218,3/3/2022,หญิง,10.0,ปี,ภูเก็ต,ภูเก็ต,ใต้,3/3/2022,"651,774","671,962","82,875","45,735","1,452,346"

In [90]:
data8 = covid_re_pass.iloc[2975000:3325848:,:]
data8

,No.,announce_date,sex,age,Unit,province_of_isolation,Province,6 ภูมิภาค (ภูมิศาสตร์),วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
2975000,2952219,3/3/2022,ชาย,36.0,ปี,ภูเก็ต,ภูเก็ต,ใต้,3/3/2022,"651,774","671,962","82,875","45,735","1,452,346"
2975001,2952220,3/3/2022,หญิง,1.0,ปี,ภูเก็ต,ภูเก็ต,ใต้,3/3/2022,"651,774","671,962","82,875","45,735","1,452,346"
2975002,2952221,3/3/2022,หญิง,35.0,ปี,ภูเก็ต,ภูเก็ต,ใต้,3/3/2022,"651,774","671,962","82,875","45,735","1,452,346"
2975003,2952222,3/3/2022,ชาย,28.0,ปี,ภูเก็ต,ภูเก็ต,ใต้,3/3/2022,"651,774","671,962","82,875","45,735","1,452,346"
2975004,2952223,3/3/2022,หญิง,36.0,ปี,ภูเก็ต,ภูเก็ต,ใต้,3/3/2022,"651,774","671,962","82,875","45,735","1,452,346"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3325843,3303062,18/3/2022,ไม่ระบุ,43.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
3325844,3303063,18/3/2022,ไม่ระบุ,21.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
3325845,3303064,18/3/2022,ไม่ระบุ,22.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
3325846,3303065,18/3/2022,ไม่ระบุ,25.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
3325847,3303066,18/3/2022,ไม่ระบุ,64.0,ปี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"

##save ข้อมูลลงใน drive เพื่อนำไปใช้ที่อื่น

In [91]:
data1.to_csv(os.path.join(path,'data1.csv'))

In [92]:
data2.to_csv(os.path.join(path,'data2.csv'))

In [93]:
data3.to_csv(os.path.join(path,'data3.csv'))

In [94]:
data4.to_csv(os.path.join(path,'data4.csv'))

In [95]:
data5.to_csv(os.path.join(path,'data5.csv'))

In [96]:
data6.to_csv(os.path.join(path,'data6.csv'))

In [97]:
data7.to_csv(os.path.join(path,'data7.csv'))

In [98]:
data8.to_csv(os.path.join(path,'data8.csv'))