<a href="https://colab.research.google.com/github/Nunticha24/data_viz_2022/blob/main/Project_Dinosaur.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Present Project กลุ่ม

https://drive.google.com/drive/u/0/folders/1G9XaOQ1IExr0m-UwWypqGPtGzi5HE-YL

In [1]:
import pandas as pd
import os

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
path = '/content/drive/My Drive/Project_Dinosaur'

##ตารางข้อมูล covid ปี2020

* No รหัสผู้ป่วย
* Age อายุของผู้ป่วย
* Sex เพศผู้ป่วย
* Nationality สัญชาติ
* Province of isolation จังหวัดที่รักษาตัว
* Notification Date วันที่กระทรวงได้รับรายงาน
* Announce Date วันที่แถลงข่าว
* Province of onset จังหวัดที่เริ่มพบว่าตัวเองมีอาการป่วย
* District of onset อำเภอที่เริ่มพบว่าตัวเองมีอาการป่วย
* risk สถานที่

In [4]:
data_covid2020 =  pd.read_csv(os.path.join(path,'confirmed-cases.csv'))
data_covid2020

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
839766,839767,12/8/2021,11/8/2021,ชาย,52.0,ปี,NaN,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839767,839768,12/8/2021,11/8/2021,ชาย,34.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839768,839769,12/8/2021,11/8/2021,ชาย,31.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839769,839770,12/8/2021,11/8/2021,ชาย,83.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839770,839771,12/8/2021,11/8/2021,ชาย,47.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN

##ตารางข้อมูล covid ปี2021(1)

In [5]:
data_covid2021_1 =  pd.read_csv(os.path.join(path,'confirmed-cases-since-120864.csv'))
data_covid2021_1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

##ตารางข้อมูล covid ปี2021(2)

In [6]:
data_covid2021_2 =  pd.read_csv(os.path.join(path,'confirmed-cases-since-271064.csv'))
data_covid2021_2

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

##ตารางข้อมูล covid ปี2022

In [7]:
data_covid2022 =  pd.read_csv(os.path.join(path,'confirmed-cases-since-280265.csv'))
data_covid2022

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

##ต่อตาราง

In [8]:
covid = pd.concat([data_covid2020,data_covid2021_1,data_covid2021_2,data_covid2022])
covid

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

###เลือกเอา column ที่ต้องการ

In [14]:
Covid = covid[['announce_date','province_of_isolation']]
Covid

       announce_date province_of_isolation
0          12/1/2020         กรุงเทพมหานคร
1          17/1/2020         กรุงเทพมหานคร
2          22/1/2020                นครปฐม
3          22/1/2020         กรุงเทพมหานคร
4          24/1/2020               นนทบุรี
...              ...                   ...
433548     18/3/2022         กรุงเทพมหานคร
433549     18/3/2022         กรุงเทพมหานคร
433550     18/3/2022         กรุงเทพมหานคร
433551     18/3/2022                 สงขลา
433552     18/3/2022                 สงขลา

[3325951 rows x 2 columns]

###ตรวจสอบค่า Missing

In [15]:
Covid.isnull().any()

announce_date            False
province_of_isolation     True
dtype: bool

###แทนค่า mising

In [17]:
Covid = Covid.fillna(value={'province_of_isolation':'ไม่ระบุ'})
Covid

       announce_date province_of_isolation
0          12/1/2020         กรุงเทพมหานคร
1          17/1/2020         กรุงเทพมหานคร
2          22/1/2020                นครปฐม
3          22/1/2020         กรุงเทพมหานคร
4          24/1/2020               นนทบุรี
...              ...                   ...
433548     18/3/2022         กรุงเทพมหานคร
433549     18/3/2022         กรุงเทพมหานคร
433550     18/3/2022         กรุงเทพมหานคร
433551     18/3/2022                 สงขลา
433552     18/3/2022                 สงขลา

[3325951 rows x 2 columns]

In [18]:
Covid

       announce_date province_of_isolation
0          12/1/2020         กรุงเทพมหานคร
1          17/1/2020         กรุงเทพมหานคร
2          22/1/2020                นครปฐม
3          22/1/2020         กรุงเทพมหานคร
4          24/1/2020               นนทบุรี
...              ...                   ...
433548     18/3/2022         กรุงเทพมหานคร
433549     18/3/2022         กรุงเทพมหานคร
433550     18/3/2022         กรุงเทพมหานคร
433551     18/3/2022                 สงขลา
433552     18/3/2022                 สงขลา

[3325951 rows x 2 columns]

In [19]:
set(Covid['province_of_isolation'])

{'กทม',
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่น\xa0',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภููเก็ต',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน',
 'ไม่ระบุ'}

In [20]:
#ทำข้อมูลให้เหมือนกัน
Covid['province_of_isolation'].replace({'กทม':'กรุงเทพมหานคร','ขอนแก่น\xa0':'ขอนแก่น', 'ภููเก็ต':'ภูเก็ต'}, inplace=True)

In [21]:
len(set(Covid['province_of_isolation']))

78

In [22]:
Covid_gb = Covid.groupby('province_of_isolation').size().reset_index(name='จำนวนผู้รักษาตัว')  #สร้างตารางที่รวมจำนวนผู้รักษาตัวในแต่ละจังหวัด
Covid_gb

   province_of_isolation  จำนวนผู้รักษาตัว
0                 กระบี่             19856
1          กรุงเทพมหานคร            630082
2              กาญจนบุรี             36985
3              กาฬสินธุ์             20821
4              กำแพงเพชร             15724
..                   ...               ...
73             เพชรบูรณ์             19482
74                   เลย             10762
75                  แพร่              5930
76            แม่ฮ่องสอน              4475
77               ไม่ระบุ              3956

[78 rows x 2 columns]

##รวมข้อมูล Covid กับ จำนวนผู้รักษาตัวของแต่ละจังหวัด

In [24]:
covid_iso = datacovid_dropped.merge(Covid_gb,how='left',left_on='province_of_isolation',right_on = 'province_of_isolation') 
covid_iso

        announce_date province_of_isolation  จำนวนผู้รักษาตัว
0           12/1/2020         กรุงเทพมหานคร            630082
1           17/1/2020         กรุงเทพมหานคร            630082
2           22/1/2020                นครปฐม             58979
3           22/1/2020         กรุงเทพมหานคร            630082
4           24/1/2020               นนทบุรี            111572
...               ...                   ...               ...
3325946     18/3/2022         กรุงเทพมหานคร            630082
3325947     18/3/2022         กรุงเทพมหานคร            630082
3325948     18/3/2022         กรุงเทพมหานคร            630082
3325949     18/3/2022                 สงขลา             81776
3325950     18/3/2022                 สงขลา             81776

[3325951 rows x 3 columns]

##ภูมิภาค แบ่งเป็น 6 ภูมิภาค

In [25]:
data_region = {'Province': ['อำนาจเจริญ', 'บึงกาฬ', 'บุรีรัมย์', 'ชัยภูมิ', 'กาฬสินธุ์', 'ขอนแก่น', 'เลย', 'มหาสารคาม', 'มุกดาหาร', 'นครพนม', 'นครราชสีมา', 'หนองบัวลำภู', 'หนองคาย', 'ร้อยเอ็ด', 'สกลนคร', 'ศรีสะเกษ', 'สุรินทร์', 'อุบลราชธานี', 'อุดรธานี', 'ยโสธร','เชียงใหม่', 'เชียงราย', 'ลำปาง', 'ลำพูน', 'แม่ฮ่องสอน', 'น่าน', 'พะเยา', 'แพร่', 'อุตรดิตถ์','ตาก','สุโขทัย', 'พิษณุโลก', 'พิจิตร', 'กำแพงเพชร', 'เพชรบูรณ์','นครสวรรค์', 'อุทัยธานี','อ่างทอง', 'ชัยนาท', 'พระนครศรีอยุธยา', 'กรุงเทพมหานคร', 'ลพบุรี', 'นครปฐม', 'นนทบุรี', 'ปทุมธานี', 'สมุทรปราการ','สมุทรสาคร', 'สมุทรสงคราม','สระบุรี', 'สิงห์บุรี', 'สุพรรณบุรี','นครนายก','ฉะเชิงเทรา', 'จันทบุรี', 'ชลบุรี', 'ปราจีนบุรี', 'ระยอง', 'สระแก้ว', 'ตราด','กาญจนบุรี', 'ราชบุรี','เพชรบุรี', 'ประจวบคีรีขันธ์','ชุมพร', 'นครศรีธรรมราช', 'นราธิวาส', 'ปัตตานี', 'พัทลุง', 'สงขลา', 'สุราษฎร์ธานี', 'ยะลา','กระบี่', 'พังงา', 'ภูเก็ต', 'ระนอง', 'สตูล', 'ตรัง'],
            '6 ภูมิภาค': ['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','ตะวันตก','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันตก','ตะวันตก','ตะวันตก','ตะวันตก','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้']
}
data_region = pd.DataFrame.from_dict(data_region) 
data_region #แสดงตาราง Region

      Province           6 ภูมิภาค
0   อำนาจเจริญ  ตะวันออกเฉียงเหนือ
1       บึงกาฬ  ตะวันออกเฉียงเหนือ
2    บุรีรัมย์  ตะวันออกเฉียงเหนือ
3      ชัยภูมิ  ตะวันออกเฉียงเหนือ
4    กาฬสินธุ์  ตะวันออกเฉียงเหนือ
..         ...                 ...
72       พังงา                 ใต้
73      ภูเก็ต                 ใต้
74       ระนอง                 ใต้
75        สตูล                 ใต้
76        ตรัง                 ใต้

[77 rows x 2 columns]

##นำเข้าข้อมูลที่เลือกเอง

##การเดินทางของประชาชนในช่วงการแพร่ระบาดของเชื้อไวรัส COVID-19

In [26]:
passenger =  pd.read_csv(os.path.join(path,'passenger-covid19.csv'))
passenger

,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน),รถส่วนบุคคล เข้า - ออก กทม. (คัน),รถโดยสารประจำทางใน กทม. และปริมณฑล (ขสมก. และ รถร่วม) (คน),รถโดยสารประจำทางระหว่าง กทม. - ตจว. \n(บขส. และ รถร่วม) (คน),รถส่วนบุคคล เข้า - ออก กทม. (คัน).1,...,รถไฟระหว่างเมือง,เรือด่วนเจ้าพระยา,เรือคลองแสนแสบ,เรือข้ามฟากเจ้าพระยา,เรือไฟฟ้าเจ้าพระยา,เรือในภูมิภาค,รวมท่าอากาศยานใน กทม.,ท่าอากาศยานสุวรรณภูมิ,ท่าอากาศยานดอนเมือง,ท่าอากาศยานภูมิภาค
0,1/1/2020,"1,483,255","885,353","272,578","102,678","2,743,864","2,310,406","1,249,925","233,330","2,310,406",...,"115,975","29,518","20,420",0,0,"222,640","45,774","14,674","31,100","56,904"
1,2/1/2020,"1,705,026","1,269,207","291,990","104,613","3,370,836","2,538,456","1,452,127","252,899","2,538,456",...,"103,113","30,794","35,430",0,0,"225,766","45,045","14,974","30,071","59,568"
2,3/1/2020,"1,752,572","1,366,412","301,260","100,575","3,520,819","2,649,091","1,526,841","225,731","2,649,091",...,"98,657","31,036","32,540",0,0,"237,684","41,894","13,036","28,858","58,681"
3,4/1/2020,"1,576,146","1,027,281","271,171","100,852","2,975,450","2,515,920","1,359,227","216,919","2,515,920",...,"94,876","20,236","20,850",0,0,"230,085","40,186","12,163","28,023","60,666"
4,5/1/2020,"1,565,134","915,425","254,176","100,784","2,835,519","2,542,483","1,330,523","234,611","2,542,483",...,"98,259","17,066","20,030",0,0,"217,080","40,161","12,468","27,693","60,623"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
805,16/3/2022,"641,639","685,639","81,496","50,761","1,459,535","2,037,089","608,499","27,649","2,037,089",...,"28,775","5,694","9,519","13,838",628,"51,817","23,360","11,176","12,184","27,401"
806,17/3/2022,"657,339","676,376","93,516","53,177","1,480,408","2,127,054","624,531","27,910","2,127,054",...,"29,467","5,608","9,502","13,633",583,"64,190","26,329","12,579","13,750","26,848"
807,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484","2,217,820","610,545","30,125","2,217,820",...,"32,972","5,737","9,477","13,783",575,"75,229","29,725","14,085","15,640","33,505"
808,19/3/2022,"555,727","580,102","93,046","58,347","1,287,222","2,049,811","521,037","29,533","2,049,811",...,"28,930","1,976","3,527","12,742",506,"74,295","27,474","13,272","14,202","30,873"
809,20/3/2022,"495,000","455,593","84,072","64,442","1,099,107","1,863,234","459,263","30,534","1,863,234",...,"32,080",0,0,"12,375",358,"71,339","28,736","13,659","15,077","35,706"

In [27]:
passenger.isnull().any()

วันที่                                                          False
ทางถนน (คน)                                                     False
ทางราง (คน)                                                     False
ทางน้ำ (คน)                                                     False
ทางอากาศ* (คน)                                                  False
รวมประชาชนเดินทาง (คน)                                          False
รถส่วนบุคคล เข้า - ออก กทม. (คัน)                               False
รถโดยสารประจำทางใน กทม. และปริมณฑล (ขสมก. และ รถร่วม) (คน)      False
รถโดยสารประจำทางระหว่าง กทม. - ตจว. \n(บขส. และ รถร่วม) (คน)    False
รถส่วนบุคคล เข้า - ออก กทม. (คัน).1                             False
บนถนนทางหลวง                                                    False
บนทางด่วน                                                       False
รวมรถไฟฟ้า                                                      False
รถไฟฟ้าสายสีน้ำเงิน                                             False
รถไฟฟ้าสายสีม่วง                                                False
รถไฟฟ้า ARL                                                     False
รถไฟฟ้า BTS                                                     False
รถไฟสายสีแดง                                                    False
รถไฟระหว่างเมือง                                                False
เรือด่วนเจ้าพระยา                                               False
เรือคลองแสนแสบ                                                  False
เรือข้ามฟากเจ้าพระยา                                            False
เรือไฟฟ้าเจ้าพระยา                                              False
เรือในภูมิภาค                                                   False
รวมท่าอากาศยานใน กทม.                                           False
ท่าอากาศยานสุวรรณภูมิ                                           False
ท่าอากาศยานดอนเมือง                                             False
ท่าอากาศยานภูมิภาค                                              False
dtype: bool

###เลือกเอา column ที่ต้องการ

In [28]:
Passenger = passenger[['วันที่','ทางถนน (คน)','ทางราง (คน)','ทางน้ำ (คน)', 'ทางอากาศ* (คน)', 'รวมประชาชนเดินทาง (คน)']]
Passenger

,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
0,1/1/2020,"1,483,255","885,353","272,578","102,678","2,743,864"
1,2/1/2020,"1,705,026","1,269,207","291,990","104,613","3,370,836"
2,3/1/2020,"1,752,572","1,366,412","301,260","100,575","3,520,819"
3,4/1/2020,"1,576,146","1,027,281","271,171","100,852","2,975,450"
4,5/1/2020,"1,565,134","915,425","254,176","100,784","2,835,519"
...,...,...,...,...,...,...
805,16/3/2022,"641,639","685,639","81,496","50,761","1,459,535"
806,17/3/2022,"657,339","676,376","93,516","53,177","1,480,408"
807,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
808,19/3/2022,"555,727","580,102","93,046","58,347","1,287,222"
809,20/3/2022,"495,000","455,593","84,072","64,442","1,099,107"

###ตรวจสอบค่า Missing

In [29]:
Passenger.isnull().any()

วันที่                    False
ทางถนน (คน)               False
ทางราง (คน)               False
ทางน้ำ (คน)               False
ทางอากาศ* (คน)            False
รวมประชาชนเดินทาง (คน)    False
dtype: bool

##รวมข้อมูล Covid กับ ภูมิภาค

In [30]:
covid_re = covid_iso.merge(data_region,how='left',left_on='province_of_isolation',right_on = 'Province') 
covid_re

,announce_date,province_of_isolation,จำนวนผู้รักษาตัว,Province,6 ภูมิภาค
0,12/1/2020,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง
1,17/1/2020,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง
2,22/1/2020,นครปฐม,58979,นครปฐม,กลาง
3,22/1/2020,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง
4,24/1/2020,นนทบุรี,111572,นนทบุรี,กลาง
...,...,...,...,...,...
3325946,18/3/2022,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง
3325947,18/3/2022,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง
3325948,18/3/2022,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง
3325949,18/3/2022,สงขลา,81776,สงขลา,ใต้
3325950,18/3/2022,สงขลา,81776,สงขลา,ใต้

###ตรวจสอบค่า Missing

In [31]:
covid_re.isnull().any()

announce_date            False
province_of_isolation    False
จำนวนผู้รักษาตัว         False
Province                  True
6 ภูมิภาค                 True
dtype: bool

###แทนค่า mising

In [32]:
covid_re = covid_re.fillna(value={'Province':'ไม่ระบุ','6 ภูมิภาค':'ไม่ระบุ'})
covid_re

,announce_date,province_of_isolation,จำนวนผู้รักษาตัว,Province,6 ภูมิภาค
0,12/1/2020,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง
1,17/1/2020,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง
2,22/1/2020,นครปฐม,58979,นครปฐม,กลาง
3,22/1/2020,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง
4,24/1/2020,นนทบุรี,111572,นนทบุรี,กลาง
...,...,...,...,...,...
3325946,18/3/2022,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง
3325947,18/3/2022,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง
3325948,18/3/2022,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง
3325949,18/3/2022,สงขลา,81776,สงขลา,ใต้
3325950,18/3/2022,สงขลา,81776,สงขลา,ใต้

In [34]:
covid_re.isnull().any()

announce_date            False
province_of_isolation    False
จำนวนผู้รักษาตัว         False
Province                 False
6 ภูมิภาค                False
dtype: bool

##นำข้อมูล Covid กับ ภูมิภาค ไปรวมกับข้อมูลการเดินทางของประชาชนในช่วงการแพร่ระบาดของเชื้อไวรัส COVID-19

In [35]:
covid_re_pass = covid_re.merge(Passenger,how='left',left_on='announce_date',right_on = 'วันที่') 
covid_re_pass

,announce_date,province_of_isolation,จำนวนผู้รักษาตัว,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
0,12/1/2020,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง,12/1/2020,"1,511,236","988,051","246,025","99,755","2,845,067"
1,17/1/2020,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง,17/1/2020,"1,732,040","1,599,647","281,743","106,000","3,719,430"
2,22/1/2020,นครปฐม,58979,นครปฐม,กลาง,22/1/2020,"1,678,182","1,488,097","267,105","101,432","3,534,816"
3,22/1/2020,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง,22/1/2020,"1,678,182","1,488,097","267,105","101,432","3,534,816"
4,24/1/2020,นนทบุรี,111572,นนทบุรี,กลาง,24/1/2020,"1,658,692","1,527,329","281,291","103,697","3,571,009"
...,...,...,...,...,...,...,...,...,...,...,...
3325946,18/3/2022,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
3325947,18/3/2022,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
3325948,18/3/2022,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
3325949,18/3/2022,สงขลา,81776,สงขลา,ใต้,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
3325950,18/3/2022,สงขลา,81776,สงขลา,ใต้,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"

In [36]:
covid_re_pass.isnull().any()

announce_date             False
province_of_isolation     False
จำนวนผู้รักษาตัว          False
Province                  False
6 ภูมิภาค                 False
วันที่                    False
ทางถนน (คน)               False
ทางราง (คน)               False
ทางน้ำ (คน)               False
ทางอากาศ* (คน)            False
รวมประชาชนเดินทาง (คน)    False
dtype: bool

###เพิ่ม column year/month

In [37]:
covid_re_pass.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3325951 entries, 0 to 3325950
Data columns (total 11 columns):
 #   Column                  Dtype
---  ------                  -----
 0   announce_date           object
 1   province_of_isolation   object
 2   จำนวนผู้รักษาตัว        int64
 3   Province                object
 4   6 ภูมิภาค               object
 5   วันที่                  object
 6   ทางถนน (คน)             object
 7   ทางราง (คน)             object
 8   ทางน้ำ (คน)             object
 9   ทางอากาศ* (คน)          object
 10  รวมประชาชนเดินทาง (คน)  object
dtypes: int64(1), object(10)
memory usage: 304.5+ MB

In [38]:
import datetime

In [39]:
data = pd.DataFrame(covid_re_pass)
data['announce_date'] = pd.to_datetime(data['announce_date'], format = "%d/%m/%Y")
data['year'] = data['announce_date'].dt.year
data['month'] = data['announce_date'].dt.month

In [40]:
data

,announce_date,province_of_isolation,จำนวนผู้รักษาตัว,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน),year,month
0,2020-01-12,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง,12/1/2020,"1,511,236","988,051","246,025","99,755","2,845,067",2020,1
1,2020-01-17,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง,17/1/2020,"1,732,040","1,599,647","281,743","106,000","3,719,430",2020,1
2,2020-01-22,นครปฐม,58979,นครปฐม,กลาง,22/1/2020,"1,678,182","1,488,097","267,105","101,432","3,534,816",2020,1
3,2020-01-22,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง,22/1/2020,"1,678,182","1,488,097","267,105","101,432","3,534,816",2020,1
4,2020-01-24,นนทบุรี,111572,นนทบุรี,กลาง,24/1/2020,"1,658,692","1,527,329","281,291","103,697","3,571,009",2020,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3325946,2022-03-18,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484",2022,3
3325947,2022-03-18,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484",2022,3
3325948,2022-03-18,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484",2022,3
3325949,2022-03-18,สงขลา,81776,สงขลา,ใต้,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484",2022,3
3325950,2022-03-18,สงขลา,81776,สงขลา,ใต้,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484",2022,3

##เลือกทำข้อมูลตามปี

###2020

In [42]:
data2020 = data[(data['year'] == 2020)]
data2020

,announce_date,province_of_isolation,จำนวนผู้รักษาตัว,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน),year,month
0,2020-01-12,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง,12/1/2020,"1,511,236","988,051","246,025","99,755","2,845,067",2020,1
1,2020-01-17,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง,17/1/2020,"1,732,040","1,599,647","281,743","106,000","3,719,430",2020,1
2,2020-01-22,นครปฐม,58979,นครปฐม,กลาง,22/1/2020,"1,678,182","1,488,097","267,105","101,432","3,534,816",2020,1
3,2020-01-22,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง,22/1/2020,"1,678,182","1,488,097","267,105","101,432","3,534,816",2020,1
4,2020-01-24,นนทบุรี,111572,นนทบุรี,กลาง,24/1/2020,"1,658,692","1,527,329","281,291","103,697","3,571,009",2020,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6880,2020-12-31,ระยอง,68385,ระยอง,ตะวันออก,31/12/2020,"657,630","397,023","142,755","59,777","1,257,185",2020,12
6881,2020-12-31,ระยอง,68385,ระยอง,ตะวันออก,31/12/2020,"657,630","397,023","142,755","59,777","1,257,185",2020,12
6882,2020-12-31,ระยอง,68385,ระยอง,ตะวันออก,31/12/2020,"657,630","397,023","142,755","59,777","1,257,185",2020,12
6883,2020-12-31,ระยอง,68385,ระยอง,ตะวันออก,31/12/2020,"657,630","397,023","142,755","59,777","1,257,185",2020,12
6884,2020-12-31,ระยอง,68385,ระยอง,ตะวันออก,31/12/2020,"657,630","397,023","142,755","59,777","1,257,185",2020,12

###2021

In [44]:
data2021 = data[(data['year'] == 2021)]
data2021

,announce_date,province_of_isolation,จำนวนผู้รักษาตัว,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน),year,month
124,2021-03-06,ปทุมธานี,68528,ปทุมธานี,กลาง,6/3/2021,"862,101","682,272","98,061","47,995","1,690,429",2021,3
6885,2021-01-01,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง,1/1/2021,"629,297","331,738","132,198","53,527","1,146,760",2021,1
6886,2021-01-01,ปทุมธานี,68528,ปทุมธานี,กลาง,1/1/2021,"629,297","331,738","132,198","53,527","1,146,760",2021,1
6887,2021-01-01,นครปฐม,58979,นครปฐม,กลาง,1/1/2021,"629,297","331,738","132,198","53,527","1,146,760",2021,1
6888,2021-01-01,สมุทรสาคร,141682,สมุทรสาคร,กลาง,1/1/2021,"629,297","331,738","132,198","53,527","1,146,760",2021,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2246212,2021-12-31,ระนอง,14962,ระนอง,ใต้,31/12/2021,"563,961","536,918","162,259","60,894","1,324,032",2021,12
2246213,2021-12-31,สตูล,14244,สตูล,ใต้,31/12/2021,"563,961","536,918","162,259","60,894","1,324,032",2021,12
2246214,2021-12-31,ปทุมธานี,68528,ปทุมธานี,กลาง,31/12/2021,"563,961","536,918","162,259","60,894","1,324,032",2021,12
2246215,2021-12-31,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง,31/12/2021,"563,961","536,918","162,259","60,894","1,324,032",2021,12
2246216,2021-12-31,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง,31/12/2021,"563,961","536,918","162,259","60,894","1,324,032",2021,12

###2022

In [45]:
data2022 = data[(data['year'] == 2022)]
data2022

,announce_date,province_of_isolation,จำนวนผู้รักษาตัว,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน),year,month
2246217,2022-01-01,พะเยา,6049,พะเยา,เหนือ,1/1/2022,"515,514","411,352","151,399","56,701","1,134,966",2022,1
2246218,2022-01-01,พะเยา,6049,พะเยา,เหนือ,1/1/2022,"515,514","411,352","151,399","56,701","1,134,966",2022,1
2246219,2022-01-01,พะเยา,6049,พะเยา,เหนือ,1/1/2022,"515,514","411,352","151,399","56,701","1,134,966",2022,1
2246220,2022-01-01,พะเยา,6049,พะเยา,เหนือ,1/1/2022,"515,514","411,352","151,399","56,701","1,134,966",2022,1
2246221,2022-01-01,พะเยา,6049,พะเยา,เหนือ,1/1/2022,"515,514","411,352","151,399","56,701","1,134,966",2022,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3325946,2022-03-18,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484",2022,3
3325947,2022-03-18,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484",2022,3
3325948,2022-03-18,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484",2022,3
3325949,2022-03-18,สงขลา,81776,สงขลา,ใต้,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484",2022,3
3325950,2022-03-18,สงขลา,81776,สงขลา,ใต้,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484",2022,3

##เลือกทำข้อมูลของปี 2022
เนื่องจากข้อมูลมีจำนวนมากจึงเลือกทำข้อมูลปีล่าสุดก่อน

In [46]:
data2022_1 = data[((data['month'] == 1)) & (data['year'] == 2022)]
data2022_1

,announce_date,province_of_isolation,จำนวนผู้รักษาตัว,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน),year,month
2246217,2022-01-01,พะเยา,6049,พะเยา,เหนือ,1/1/2022,"515,514","411,352","151,399","56,701","1,134,966",2022,1
2246218,2022-01-01,พะเยา,6049,พะเยา,เหนือ,1/1/2022,"515,514","411,352","151,399","56,701","1,134,966",2022,1
2246219,2022-01-01,พะเยา,6049,พะเยา,เหนือ,1/1/2022,"515,514","411,352","151,399","56,701","1,134,966",2022,1
2246220,2022-01-01,พะเยา,6049,พะเยา,เหนือ,1/1/2022,"515,514","411,352","151,399","56,701","1,134,966",2022,1
2246221,2022-01-01,พะเยา,6049,พะเยา,เหนือ,1/1/2022,"515,514","411,352","151,399","56,701","1,134,966",2022,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2463319,2022-01-31,ขอนแก่น,49437,ขอนแก่น,ตะวันออกเฉียงเหนือ,31/1/2022,"699,417","700,021","96,378","52,016","1,547,832",2022,1
2463320,2022-01-31,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง,31/1/2022,"699,417","700,021","96,378","52,016","1,547,832",2022,1
2463321,2022-01-31,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง,31/1/2022,"699,417","700,021","96,378","52,016","1,547,832",2022,1
2463322,2022-01-31,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง,31/1/2022,"699,417","700,021","96,378","52,016","1,547,832",2022,1
2463323,2022-01-31,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง,31/1/2022,"699,417","700,021","96,378","52,016","1,547,832",2022,1

In [47]:
data2022_2 = data[((data['month'] == 2)) & (data['year'] == 2022)]
data2022_2

,announce_date,province_of_isolation,จำนวนผู้รักษาตัว,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน),year,month
2463324,2022-02-01,พะเยา,6049,พะเยา,เหนือ,1/2/2022,"714,901","745,660","99,446","38,761","1,598,768",2022,2
2463325,2022-02-01,พะเยา,6049,พะเยา,เหนือ,1/2/2022,"714,901","745,660","99,446","38,761","1,598,768",2022,2
2463326,2022-02-01,พะเยา,6049,พะเยา,เหนือ,1/2/2022,"714,901","745,660","99,446","38,761","1,598,768",2022,2
2463327,2022-02-01,พะเยา,6049,พะเยา,เหนือ,1/2/2022,"714,901","745,660","99,446","38,761","1,598,768",2022,2
2463328,2022-02-01,พะเยา,6049,พะเยา,เหนือ,1/2/2022,"714,901","745,660","99,446","38,761","1,598,768",2022,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914704,2022-02-28,ปทุมธานี,68528,ปทุมธานี,กลาง,28/2/2022,"669,958","687,896","85,381","51,364","1,494,599",2022,2
2914705,2022-02-28,นครสวรรค์,28009,นครสวรรค์,กลาง,28/2/2022,"669,958","687,896","85,381","51,364","1,494,599",2022,2
2914706,2022-02-28,นครสวรรค์,28009,นครสวรรค์,กลาง,28/2/2022,"669,958","687,896","85,381","51,364","1,494,599",2022,2
2914707,2022-02-28,นครสวรรค์,28009,นครสวรรค์,กลาง,28/2/2022,"669,958","687,896","85,381","51,364","1,494,599",2022,2
2914708,2022-02-28,นครสวรรค์,28009,นครสวรรค์,กลาง,28/2/2022,"669,958","687,896","85,381","51,364","1,494,599",2022,2

In [48]:
data2022_3 = data[((data['month'] == 3)) & (data['year'] == 2022)]
data2022_3

,announce_date,province_of_isolation,จำนวนผู้รักษาตัว,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน),year,month
2914709,2022-03-01,แม่ฮ่องสอน,4475,แม่ฮ่องสอน,เหนือ,1/3/2022,"666,637","696,843","83,386","41,226","1,488,092",2022,3
2914710,2022-03-01,แม่ฮ่องสอน,4475,แม่ฮ่องสอน,เหนือ,1/3/2022,"666,637","696,843","83,386","41,226","1,488,092",2022,3
2914711,2022-03-01,แม่ฮ่องสอน,4475,แม่ฮ่องสอน,เหนือ,1/3/2022,"666,637","696,843","83,386","41,226","1,488,092",2022,3
2914712,2022-03-01,แม่ฮ่องสอน,4475,แม่ฮ่องสอน,เหนือ,1/3/2022,"666,637","696,843","83,386","41,226","1,488,092",2022,3
2914713,2022-03-01,เชียงใหม่,51706,เชียงใหม่,เหนือ,1/3/2022,"666,637","696,843","83,386","41,226","1,488,092",2022,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3325946,2022-03-18,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484",2022,3
3325947,2022-03-18,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484",2022,3
3325948,2022-03-18,กรุงเทพมหานคร,630082,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484",2022,3
3325949,2022-03-18,สงขลา,81776,สงขลา,ใต้,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484",2022,3
3325950,2022-03-18,สงขลา,81776,สงขลา,ใต้,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484",2022,3

###บันทึกตารางไว้ในส่วนซ้ายมือ
สามารถ download ตารางไปใช้ได้

In [52]:
data2022_1.to_csv('data2022_1.csv')

In [53]:
data2022_2.to_csv('data2022_2.csv')

In [54]:
data2022_3.to_csv('data2022_3.csv')