<a href="https://colab.research.google.com/github/Nunticha24/data_viz_2022/blob/main/Project_Dinosaur.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Present Project กลุ่ม

https://drive.google.com/drive/u/0/folders/1G9XaOQ1IExr0m-UwWypqGPtGzi5HE-YL

In [52]:
import pandas as pd
import os

In [53]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [54]:
path = '/content/drive/My Drive/Project_Dinosaur'

#data covid

* No รหัสผู้ป่วย
* Age อายุของผู้ป่วย
* Sex เพศผู้ป่วย
* Nationality สัญชาติ
* Province of isolation จังหวัดที่รักษาตัว
* Notification Date วันที่กระทรวงได้รับรายงาน
* Announce Date วันที่แถลงข่าว
* Province of onset จังหวัดที่เริ่มพบว่าตัวเองมีอาการป่วย
* District of onset อำเภอที่เริ่มพบว่าตัวเองมีอาการป่วย
* risk สถานที่

##ตารางข้อมูล covid ปี2020

In [55]:
data_covid2020 =  pd.read_csv(os.path.join(path,'confirmed-cases.csv'))
data_covid2020

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
839766,839767,12/8/2021,11/8/2021,ชาย,52.0,ปี,NaN,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839767,839768,12/8/2021,11/8/2021,ชาย,34.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839768,839769,12/8/2021,11/8/2021,ชาย,31.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839769,839770,12/8/2021,11/8/2021,ชาย,83.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839770,839771,12/8/2021,11/8/2021,ชาย,47.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN

##ตารางข้อมูล covid ปี2021(1)

In [56]:
data_covid2021_1 =  pd.read_csv(os.path.join(path,'confirmed-cases-since-120864.csv'))
data_covid2021_1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

##ตารางข้อมูล covid ปี2021(2)

In [57]:
data_covid2021_2 =  pd.read_csv(os.path.join(path,'confirmed-cases-since-271064.csv'))
data_covid2021_2

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

##ตารางข้อมูล covid ปี2022

In [58]:
data_covid2022 =  pd.read_csv(os.path.join(path,'confirmed-cases-since-280265.csv'))
data_covid2022

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

##ต่อตาราง data_covid ทั้ง 4 ตาราง

In [59]:
data_covid = pd.concat([data_covid2020, data_covid2021_1, data_covid2021_2, data_covid2022])
data_covid

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

###เลือกเฉพาะ column ที่ต้องการ

In [ ]:
covid = data_covid[['announce_date','province_of_isolation']]
covid

##ตรวจสอบค่า Missing

In [ ]:
covid.isnull().any() #ดูค่า missing ของแต่ละ column

###จัดรูปแบบข้อมูล

In [ ]:
len(set(covid['province_of_isolation'])) #ข้อมูลในคอลัมน์ province_of_isolation ต้องมี 77 ค่า

In [ ]:
set(covid['province_of_isolation'])

In [ ]:
covid.replace({'กทม':'กรุงเทพมหานคร','ขอนแก่น\xa0':'ขอนแก่น','ภููเก็ต':'ภูเก็ต'}, inplace=True)

In [ ]:
len(set(covid['province_of_isolation'])) #มีค่าที่ชื่อว่า ไม่ระบุ

In [ ]:
covid.isnull().any()

In [ ]:
Covid = covid.dropna() #drop ค่า Nan ออกจากตาราง

In [ ]:
Covid

#สร้างตารางภูมิภาค

In [ ]:
data_region = {'Province':['อำนาจเจริญ','บึงกาฬ','บุรีรัมย์','ชัยภูมิ','กาฬสินธุ์','ขอนแก่น','เลย','มหาสารคาม','มุกดาหาร','นครพนม','นครราชสีมา','หนองบัวลำภู','หนองคาย','ร้อยเอ็ด','สกลนคร','ศรีสะเกษ','สุรินทร์','อุบลราชธานี','อุดรธานี','ยโสธร','เชียงใหม่','เชียงราย','ลำปาง','ลำพูน','แม่ฮ่องสอน','น่าน','พะเยา','แพร่','อุตรดิตถ์','ตาก','สุโขทัย','พิษณุโลก','พิจิตร','กำแพงเพชร','เพชรบูรณ์','นครสวรรค์','อุทัยธานี','อ่างทอง','ชัยนาท','พระนครศรีอยุธยา','กรุงเทพมหานคร','ลพบุรี','นครปฐม','นนทบุรี','ปทุมธานี','สมุทรปราการ','สมุทรสาคร','สมุทรสงคราม','สระบุรี','สิงห์บุรี','สุพรรณบุรี','นครนายก','ฉะเชิงเทรา','จันทบุรี','ชลบุรี','ปราจีนบุรี','ระยอง','สระแก้ว','ตราด','กาญจนบุรี','ราชบุรี','เพชรบุรี','ประจวบคีรีขันธ์','ชุมพร','นครศรีธรรมราช','นราธิวาส','ปัตตานี','พัทลุง','สงขลา','สุราษฎร์ธานี','ยะลา','กระบี่','พังงา','ภูเก็ต','ระนอง','สตูล','ตรัง'],
             '6 ภูมิภาค':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','ตะวันตก','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันตก','ตะวันตก','ตะวันตก','ตะวันตก','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],
}

In [ ]:
data_region = pd.DataFrame.from_dict(data_region)
data_region

##รวมตาราง covid กับตาราง ภูมิภาค
covid กับ data_region

In [ ]:
covid_region = Covid.merge(data_region,how='left',left_on='province_of_isolation',right_on = 'Province') 
covid_region

##ตรวจสอบค่า Missing

In [ ]:
covid_region.isnull().any()

#นำเข้าข้อมูลที่เลือกเอง
การเดินทางของประชาชนในช่วงการแพร่ระบาดของเชื้อไวรัส COVID-19
ที่มา : https://datagov.mot.go.th/dataset/covid-19 (กระทรวงคมนาคม)

In [ ]:
passenger =  pd.read_csv(os.path.join(path,'passenger-covid19.csv'))
passenger

###เลือกเฉพาะ column ที่ต้องการ

In [ ]:
Passenger = passenger[['วันที่','ทางถนน (คน)','ทางราง (คน)','ทางน้ำ (คน)', 'ทางอากาศ* (คน)', 'รวมประชาชนเดินทาง (คน)']]
Passenger

##ตรวจสอบค่า Missing

In [ ]:
Passenger.isnull().any() #ดูค่า missing ของแต่ละ column

##รวมตาราง covid_region กับตาราง Passenger

In [ ]:
all_data = covid_region.merge(Passenger,how='left',left_on='announce_date',right_on='วันที่')
all_data

##ตรวจสอบค่า Missing

In [ ]:
all_data.isnull().any() #ดูค่า missing ของแต่ละ column

### เปลี่ยน datetime เพื่อที่จะแบ่งข้อมูลออกไปใช้งาน

In [51]:
import datetime
all_data = pd.DataFrame(all_data)
all_data['announce_date'] = pd.to_datetime(all_data['announce_date'], format = "%d/%m/%Y")
all_data

,announce_date,province_of_isolation,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
0,2020-01-12,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,12/1/2020,"1,511,236","988,051","246,025","99,755","2,845,067"
1,2020-01-17,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,17/1/2020,"1,732,040","1,599,647","281,743","106,000","3,719,430"
2,2020-01-22,นครปฐม,นครปฐม,กลาง,22/1/2020,"1,678,182","1,488,097","267,105","101,432","3,534,816"
3,2020-01-22,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,22/1/2020,"1,678,182","1,488,097","267,105","101,432","3,534,816"
4,2020-01-24,นนทบุรี,นนทบุรี,กลาง,24/1/2020,"1,658,692","1,527,329","281,291","103,697","3,571,009"
...,...,...,...,...,...,...,...,...,...,...
3321990,2022-03-18,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
3321991,2022-03-18,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
3321992,2022-03-18,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
3321993,2022-03-18,สงขลา,สงขลา,ใต้,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
3321994,2022-03-18,สงขลา,สงขลา,ใต้,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"

In [ ]:
all_data.dtypes

announce_date             datetime64[ns]
province_of_isolation             object
Province                          object
6 ภูมิภาค                         object
วันที่                            object
ทางถนน (คน)                       object
ทางราง (คน)                       object
ทางน้ำ (คน)                       object
ทางอากาศ* (คน)                    object
รวมประชาชนเดินทาง (คน)            object
dtype: object

In [ ]:
all_data

,announce_date,province_of_isolation,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
0,2020-01-12,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,12/1/2020,"1,511,236","988,051","246,025","99,755","2,845,067"
1,2020-01-17,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,17/1/2020,"1,732,040","1,599,647","281,743","106,000","3,719,430"
2,2020-01-22,นครปฐม,นครปฐม,กลาง,22/1/2020,"1,678,182","1,488,097","267,105","101,432","3,534,816"
3,2020-01-22,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,22/1/2020,"1,678,182","1,488,097","267,105","101,432","3,534,816"
4,2020-01-24,นนทบุรี,นนทบุรี,กลาง,24/1/2020,"1,658,692","1,527,329","281,291","103,697","3,571,009"
...,...,...,...,...,...,...,...,...,...,...
3321990,2022-03-18,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
3321991,2022-03-18,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
3321992,2022-03-18,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
3321993,2022-03-18,สงขลา,สงขลา,ใต้,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
3321994,2022-03-18,สงขลา,สงขลา,ใต้,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"

##แบ่งข้อมูลไปใช้งาน

In [ ]:
covid2020 = all_data[(all_data['announce_date'] >= '2020-01-12') & (all_data['announce_date'] <= '2020-12-31')] #ข้อมูลปี 2020
covid2020

,announce_date,province_of_isolation,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
0,2020-01-12,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,12/1/2020,"1,511,236","988,051","246,025","99,755","2,845,067"
1,2020-01-17,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,17/1/2020,"1,732,040","1,599,647","281,743","106,000","3,719,430"
2,2020-01-22,นครปฐม,นครปฐม,กลาง,22/1/2020,"1,678,182","1,488,097","267,105","101,432","3,534,816"
3,2020-01-22,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,22/1/2020,"1,678,182","1,488,097","267,105","101,432","3,534,816"
4,2020-01-24,นนทบุรี,นนทบุรี,กลาง,24/1/2020,"1,658,692","1,527,329","281,291","103,697","3,571,009"
...,...,...,...,...,...,...,...,...,...,...
6858,2020-12-31,ระยอง,ระยอง,ตะวันออก,31/12/2020,"657,630","397,023","142,755","59,777","1,257,185"
6859,2020-12-31,ระยอง,ระยอง,ตะวันออก,31/12/2020,"657,630","397,023","142,755","59,777","1,257,185"
6860,2020-12-31,ระยอง,ระยอง,ตะวันออก,31/12/2020,"657,630","397,023","142,755","59,777","1,257,185"
6861,2020-12-31,ระยอง,ระยอง,ตะวันออก,31/12/2020,"657,630","397,023","142,755","59,777","1,257,185"
6862,2020-12-31,ระยอง,ระยอง,ตะวันออก,31/12/2020,"657,630","397,023","142,755","59,777","1,257,185"

In [ ]:
covid2021_1 = all_data[(all_data['announce_date'] >= '2021-01-01') & (all_data['announce_date'] <= '2021-03-31')] #ข้อมูลไตรมาสแรกของปี 2021
covid2021_1

,announce_date,province_of_isolation,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
120,2021-03-06,ปทุมธานี,ปทุมธานี,กลาง,6/3/2021,"862,101","682,272","98,061","47,995","1,690,429"
6863,2021-01-01,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,1/1/2021,"629,297","331,738","132,198","53,527","1,146,760"
6864,2021-01-01,ปทุมธานี,ปทุมธานี,กลาง,1/1/2021,"629,297","331,738","132,198","53,527","1,146,760"
6865,2021-01-01,นครปฐม,นครปฐม,กลาง,1/1/2021,"629,297","331,738","132,198","53,527","1,146,760"
6866,2021-01-01,สมุทรสาคร,สมุทรสาคร,กลาง,1/1/2021,"629,297","331,738","132,198","53,527","1,146,760"
...,...,...,...,...,...,...,...,...,...,...
28727,2021-03-31,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,31/3/2021,"982,425","1,039,196","110,500","57,980","2,190,101"
28728,2021-03-31,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,31/3/2021,"982,425","1,039,196","110,500","57,980","2,190,101"
28729,2021-03-31,ตาก,ตาก,ตะวันตก,31/3/2021,"982,425","1,039,196","110,500","57,980","2,190,101"
28730,2021-03-31,ตาก,ตาก,ตะวันตก,31/3/2021,"982,425","1,039,196","110,500","57,980","2,190,101"
28731,2021-03-31,นราธิวาส,นราธิวาส,ใต้,31/3/2021,"982,425","1,039,196","110,500","57,980","2,190,101"

In [ ]:
covid2021_2 = all_data[(all_data['announce_date'] >= '2021-04-01') & (all_data['announce_date'] <= '2021-06-30')] #ข้อมูลไตรมาสสองของปี 2021
covid2021_2

,announce_date,province_of_isolation,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
28732,2021-04-01,สมุทรสาคร,สมุทรสาคร,กลาง,1/4/2021,"1,002,983","1,037,660","102,982","70,353","2,213,978"
28733,2021-04-01,สมุทรสาคร,สมุทรสาคร,กลาง,1/4/2021,"1,002,983","1,037,660","102,982","70,353","2,213,978"
28734,2021-04-01,สมุทรสาคร,สมุทรสาคร,กลาง,1/4/2021,"1,002,983","1,037,660","102,982","70,353","2,213,978"
28735,2021-04-01,สมุทรสาคร,สมุทรสาคร,กลาง,1/4/2021,"1,002,983","1,037,660","102,982","70,353","2,213,978"
28736,2021-04-01,สมุทรสาคร,สมุทรสาคร,กลาง,1/4/2021,"1,002,983","1,037,660","102,982","70,353","2,213,978"
...,...,...,...,...,...,...,...,...,...,...
259024,2021-06-30,สงขลา,สงขลา,ใต้,30/6/2021,"572,766","462,742","57,948","14,543","1,107,999"
259025,2021-06-30,สงขลา,สงขลา,ใต้,30/6/2021,"572,766","462,742","57,948","14,543","1,107,999"
259026,2021-06-30,สงขลา,สงขลา,ใต้,30/6/2021,"572,766","462,742","57,948","14,543","1,107,999"
259027,2021-06-30,สงขลา,สงขลา,ใต้,30/6/2021,"572,766","462,742","57,948","14,543","1,107,999"
259028,2021-06-30,สงขลา,สงขลา,ใต้,30/6/2021,"572,766","462,742","57,948","14,543","1,107,999"

In [ ]:
covid2021_3 = all_data[(all_data['announce_date'] >= '2021-07-01') & (all_data['announce_date'] <= '2021-09-30')] #ข้อมูลไตรมาสสามของปี 2021
covid2021_3

,announce_date,province_of_isolation,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
259029,2021-07-01,เชียงราย,เชียงราย,เหนือ,1/7/2021,"574,401","447,352","50,212","13,123","1,085,088"
259030,2021-07-01,เชียงราย,เชียงราย,เหนือ,1/7/2021,"574,401","447,352","50,212","13,123","1,085,088"
259031,2021-07-01,เชียงราย,เชียงราย,เหนือ,1/7/2021,"574,401","447,352","50,212","13,123","1,085,088"
259032,2021-07-01,เชียงราย,เชียงราย,เหนือ,1/7/2021,"574,401","447,352","50,212","13,123","1,085,088"
259033,2021-07-01,เชียงราย,เชียงราย,เหนือ,1/7/2021,"574,401","447,352","50,212","13,123","1,085,088"
...,...,...,...,...,...,...,...,...,...,...
1625980,2021-09-30,เพชรบุรี,เพชรบุรี,ตะวันตก,30/9/2021,"470,121","436,644","50,612","9,821","967,198"
1625981,2021-09-30,ตรัง,ตรัง,ใต้,30/9/2021,"470,121","436,644","50,612","9,821","967,198"
1625982,2021-09-30,ตรัง,ตรัง,ใต้,30/9/2021,"470,121","436,644","50,612","9,821","967,198"
1625983,2021-09-30,สุราษฎร์ธานี,สุราษฎร์ธานี,ใต้,30/9/2021,"470,121","436,644","50,612","9,821","967,198"
1625984,2021-09-30,สงขลา,สงขลา,ใต้,30/9/2021,"470,121","436,644","50,612","9,821","967,198"

In [ ]:
covid2021_4 = all_data[(all_data['announce_date'] >= '2021-10-01') & (all_data['announce_date'] <= '2021-12-31')] #ข้อมูลไตรมาสสี่ของปี 2021
covid2021_4

,announce_date,province_of_isolation,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
1625985,2021-10-01,พะเยา,พะเยา,เหนือ,1/10/2021,"542,326","485,393","51,797","19,117","1,098,633"
1625986,2021-10-01,พะเยา,พะเยา,เหนือ,1/10/2021,"542,326","485,393","51,797","19,117","1,098,633"
1625987,2021-10-01,เชียงราย,เชียงราย,เหนือ,1/10/2021,"542,326","485,393","51,797","19,117","1,098,633"
1625988,2021-10-01,เชียงราย,เชียงราย,เหนือ,1/10/2021,"542,326","485,393","51,797","19,117","1,098,633"
1625989,2021-10-01,เชียงราย,เชียงราย,เหนือ,1/10/2021,"542,326","485,393","51,797","19,117","1,098,633"
...,...,...,...,...,...,...,...,...,...,...
2242256,2021-12-31,ระนอง,ระนอง,ใต้,31/12/2021,"563,961","536,918","162,259","60,894","1,324,032"
2242257,2021-12-31,สตูล,สตูล,ใต้,31/12/2021,"563,961","536,918","162,259","60,894","1,324,032"
2242258,2021-12-31,ปทุมธานี,ปทุมธานี,กลาง,31/12/2021,"563,961","536,918","162,259","60,894","1,324,032"
2242259,2021-12-31,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,31/12/2021,"563,961","536,918","162,259","60,894","1,324,032"
2242260,2021-12-31,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,31/12/2021,"563,961","536,918","162,259","60,894","1,324,032"

In [ ]:
covid2022_1 = all_data[(all_data['announce_date'] >= '2022-01-01') & (all_data['announce_date'] <= '2022-01-31')] #ข้อมูลเดือนมกราคมปี 2022
covid2022_1

,announce_date,province_of_isolation,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
2242261,2022-01-01,พะเยา,พะเยา,เหนือ,1/1/2022,"515,514","411,352","151,399","56,701","1,134,966"
2242262,2022-01-01,พะเยา,พะเยา,เหนือ,1/1/2022,"515,514","411,352","151,399","56,701","1,134,966"
2242263,2022-01-01,พะเยา,พะเยา,เหนือ,1/1/2022,"515,514","411,352","151,399","56,701","1,134,966"
2242264,2022-01-01,พะเยา,พะเยา,เหนือ,1/1/2022,"515,514","411,352","151,399","56,701","1,134,966"
2242265,2022-01-01,พะเยา,พะเยา,เหนือ,1/1/2022,"515,514","411,352","151,399","56,701","1,134,966"
...,...,...,...,...,...,...,...,...,...,...
2459363,2022-01-31,ขอนแก่น,ขอนแก่น,ตะวันออกเฉียงเหนือ,31/1/2022,"699,417","700,021","96,378","52,016","1,547,832"
2459364,2022-01-31,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,31/1/2022,"699,417","700,021","96,378","52,016","1,547,832"
2459365,2022-01-31,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,31/1/2022,"699,417","700,021","96,378","52,016","1,547,832"
2459366,2022-01-31,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,31/1/2022,"699,417","700,021","96,378","52,016","1,547,832"
2459367,2022-01-31,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,31/1/2022,"699,417","700,021","96,378","52,016","1,547,832"

In [ ]:
covid2022_2 = all_data[(all_data['announce_date'] >= '2022-02-01') & (all_data['announce_date'] <= '2022-02-28')] #ข้อมูลเดือนกุมภาพันธ์ปี 2022
covid2022_2

,announce_date,province_of_isolation,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
2459368,2022-02-01,พะเยา,พะเยา,เหนือ,1/2/2022,"714,901","745,660","99,446","38,761","1,598,768"
2459369,2022-02-01,พะเยา,พะเยา,เหนือ,1/2/2022,"714,901","745,660","99,446","38,761","1,598,768"
2459370,2022-02-01,พะเยา,พะเยา,เหนือ,1/2/2022,"714,901","745,660","99,446","38,761","1,598,768"
2459371,2022-02-01,พะเยา,พะเยา,เหนือ,1/2/2022,"714,901","745,660","99,446","38,761","1,598,768"
2459372,2022-02-01,พะเยา,พะเยา,เหนือ,1/2/2022,"714,901","745,660","99,446","38,761","1,598,768"
...,...,...,...,...,...,...,...,...,...,...
2910748,2022-02-28,ปทุมธานี,ปทุมธานี,กลาง,28/2/2022,"669,958","687,896","85,381","51,364","1,494,599"
2910749,2022-02-28,นครสวรรค์,นครสวรรค์,กลาง,28/2/2022,"669,958","687,896","85,381","51,364","1,494,599"
2910750,2022-02-28,นครสวรรค์,นครสวรรค์,กลาง,28/2/2022,"669,958","687,896","85,381","51,364","1,494,599"
2910751,2022-02-28,นครสวรรค์,นครสวรรค์,กลาง,28/2/2022,"669,958","687,896","85,381","51,364","1,494,599"
2910752,2022-02-28,นครสวรรค์,นครสวรรค์,กลาง,28/2/2022,"669,958","687,896","85,381","51,364","1,494,599"

In [ ]:
covid2022_3 = all_data[all_data['announce_date'] >= '2022-03-01'] #ข้อมูลวันที่ 1- 18 เดือนมีนาคม ปี 2022
covid2022_3

,announce_date,province_of_isolation,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน)
2910753,2022-03-01,แม่ฮ่องสอน,แม่ฮ่องสอน,เหนือ,1/3/2022,"666,637","696,843","83,386","41,226","1,488,092"
2910754,2022-03-01,แม่ฮ่องสอน,แม่ฮ่องสอน,เหนือ,1/3/2022,"666,637","696,843","83,386","41,226","1,488,092"
2910755,2022-03-01,แม่ฮ่องสอน,แม่ฮ่องสอน,เหนือ,1/3/2022,"666,637","696,843","83,386","41,226","1,488,092"
2910756,2022-03-01,แม่ฮ่องสอน,แม่ฮ่องสอน,เหนือ,1/3/2022,"666,637","696,843","83,386","41,226","1,488,092"
2910757,2022-03-01,เชียงใหม่,เชียงใหม่,เหนือ,1/3/2022,"666,637","696,843","83,386","41,226","1,488,092"
...,...,...,...,...,...,...,...,...,...,...
3321990,2022-03-18,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
3321991,2022-03-18,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
3321992,2022-03-18,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
3321993,2022-03-18,สงขลา,สงขลา,ใต้,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"
3321994,2022-03-18,สงขลา,สงขลา,ใต้,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484"

##เลือกทำข้อมูลวันที่ 1-18 มีนาคม 2022
ซึ่งเป็นข้อมูลล่าสุด

###ทำการ Groupby เพื่อดูจำนวนผู้รักษาตัวสะสมของแต่ละจังหวัด ตั้งแต่วันที่ 1-18 มีนาคม 2022

In [ ]:
data_gb_2022_3 = covid2022_3.groupby('province_of_isolation').size().reset_index(name='จำนวนผู้รักษาตัว')
data_gb_2022_3

   province_of_isolation  จำนวนผู้รักษาตัว
0                 กระบี่              2713
1          กรุงเทพมหานคร             54110
2              กาญจนบุรี              4604
3              กาฬสินธุ์              4082
4              กำแพงเพชร              2683
..                   ...               ...
72              เพชรบุรี              4270
73             เพชรบูรณ์              2059
74                   เลย              2185
75                  แพร่              1504
76            แม่ฮ่องสอน               389

[77 rows x 2 columns]

In [ ]:
Covid2022_3 = covid2022_3.merge(data_gb_2022_3,how='left',left_on='province_of_isolation',right_on = 'province_of_isolation') 
Covid2022_3

,announce_date,province_of_isolation,Province,6 ภูมิภาค,วันที่,ทางถนน (คน),ทางราง (คน),ทางน้ำ (คน),ทางอากาศ* (คน),รวมประชาชนเดินทาง (คน),จำนวนผู้รักษาตัว
0,2022-03-01,แม่ฮ่องสอน,แม่ฮ่องสอน,เหนือ,1/3/2022,"666,637","696,843","83,386","41,226","1,488,092",389
1,2022-03-01,แม่ฮ่องสอน,แม่ฮ่องสอน,เหนือ,1/3/2022,"666,637","696,843","83,386","41,226","1,488,092",389
2,2022-03-01,แม่ฮ่องสอน,แม่ฮ่องสอน,เหนือ,1/3/2022,"666,637","696,843","83,386","41,226","1,488,092",389
3,2022-03-01,แม่ฮ่องสอน,แม่ฮ่องสอน,เหนือ,1/3/2022,"666,637","696,843","83,386","41,226","1,488,092",389
4,2022-03-01,เชียงใหม่,เชียงใหม่,เหนือ,1/3/2022,"666,637","696,843","83,386","41,226","1,488,092",5300
...,...,...,...,...,...,...,...,...,...,...,...
411237,2022-03-18,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484",54110
411238,2022-03-18,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484",54110
411239,2022-03-18,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484",54110
411240,2022-03-18,สงขลา,สงขลา,ใต้,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484",7270
411241,2022-03-18,สงขลา,สงขลา,ใต้,18/3/2022,"646,203","729,250","104,801","63,230","1,543,484",7270

#โหลดข้อมูลออกไปใช้งาน

In [ ]:
Covid2022_3.to_csv('Covid2022_3.csv',index=False)